/* =======================
   pages/album
   ======================= */
.main {
	section.pagename {
		.inner {
			a.postcarder {
				margin-top: 30px;
			}
		}
	}
	section.albums {
		.inner {
		}
	}
}
.popup_content#view-album {
	.va-pic_box {
		background: none;
		padding: 0;
	}
}
// .form_filters-b {
// 	border-bottom: 2px solid $color-main;
// 	padding-bottom: 15px;
// 	margin-bottom: 15px;
// }