/* =======================
   pages/member
   ======================= */
.main {
	section.my-info {
		.inner {
			.m-view {
				display: flex;
				align-items: flex-end;
				@include mq($max-width: $bp-mobile) {
		    		flex-wrap: wrap;
		    	}
				.m-avatar-box {
					max-height: 100px;
					border-radius: 50%;
					overflow: hidden;
					flex-shrink: 0;
					img {
						width: 100px;
						height: 100px;
						@include mq($max-width: $bp-mobile) {
							width: 87px;
							height: 87px;
						}
					}
				}
				.m-name-box {
					width: 100%;
					margin: 0 15px;
					@include mq($max-width: $bp-mobile) {
						margin: 15px 0;
					}
					input {
						color: $color-font;
						width: 100%;
						font-size: $fontsize-4;
						background: transparent;
						padding: 5px;
						border: 0;
						border-bottom: 3px solid $color-afterline;
					}
				}
				.btn-m-edit {
					flex-shrink: 0;
				}
			}
			.campaign-view {
				.datas-total-ul {
					li {
						z-index: 2;
						margin: 0 auto;
						transform: translateY(50%);
					}
				}
				.campaigns {
					.campaign {

					}
				}
			}
		}
	}
	section.annual_datas {
		.inner {

		}
	}
	section.my-record {
		.btn-myrecord-edit {
			position: absolute;
			right: 10px;
			z-index: 2;
			&:before {
				content: "關閉";
			}
		}
		.recorder-img-box {
 			text-align: center;
			#recorder-img {
				border-radius: 8px;
				&[src=""] {
					display: none;
					& + .btn-recorder-dl {
						display: none;
						margin-top: 0;
					}
				}
			}
			.btn-recorder-dl {
				margin-top: 10px;
			}
		}
		.inner {
			.mycampaign {
				padding: 15px 50px;
				@include mq($max-width: $bp-mobile) {
					padding: 15px 15px;
				}
				.campaigns {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
					row-gap: 12px;
					@include mq($max-width: $bp-mobile) {
						grid-template-columns: 1fr;
						row-gap: 12px;
					}
					.campaign {
						font-size: $fontsize-2;
						letter-spacing: 1px;
						color: $color-font;
						span {
							font-size: inherit;
						}
						.btn-del-campaign {
							padding: 1px 5px;
							margin: 0 5px;
							box-shadow: none;
							width: calc(40px / 3);
							height: calc(40px / 3);
                     background: url(../img/icon-delete@2x.png) left center no-repeat;
                     background-size: cover;
						}
					}
				}
				.btn-add-campaign {
					padding: 1px 5px;
					margin: 20px auto;
					box-shadow: none;
					display: block;
					width: calc(40px / 3);
					height: calc(40px / 3);
               background: url(../img/icon-add@2x.png) left center no-repeat;
               background-size: cover;
				}
			}
			.btn-creat-recorder {
				display: block;
				margin: 20px auto;
				font-size: $fontsize-2;
			}
		}
		&[data-edit-mode="0"] {
			.btn-myrecord-edit {
				&:before {
					display: none !important;
				}
			}
			.mycampaign {
				.btn-del-campaign,
				.btn-add-campaign {
					display: none !important;
				}
			}
		}
	}
}
.popup_content {
	.form_edit-member {
		#preview_avatar {
			margin-top: 10px;
			height: 70px;
			width: 70px;
			border-radius: 50%;
			&[src=""] {
				display: none;
			}
		}
		button {
			display: block;
			margin: 0 auto;
		}
		ul {
			li {
				margin-bottom: 20px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				label {
					margin-right: 10px;
					font-size: $fontsize;
					font-weight: 500;
				}
				input {
					padding: 3px 5px;
					font-size: $fontsize;
				}

			}
		}
	}
	.form_add-campaign {
		display: block;
		font-size: $fontsize-1;
		padding: 10px;
		&[data-ifempty='1'] {
		}
		.btn-add-campaign-select {
			font-size: inherit;
			display: block;
			margin: 0 auto;
			padding: 3px 5px;
			// border-radius: 9px;
			overflow: hidden;
		}
		.btn-add-campaign-update {
			// font-size: inherit;
			display: block;
			margin: 10px auto 0;
		}
		&[data-ifempty='1'] {
			> [class*="btn-add-campaign"] {
				display: none;
			}
			&:before {
				content: "目前沒有任何新活動";
				display: block;
			}
		}
	}
}