/* =======================
   modules/pagination
   ======================= */
/* ------ HTML -------

<div class="pagination-container">
  <ul>
    <li>
      <a href="#">
        <span class="arrow-prev"></span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#">
        <span class="arrow-next"></span>
      </a>
    </li>
  </ul>
</div>

   ------------------- */

// @import "compass/css3";

$font-color: #337ab7;

.pagination-container {
    margin: 10px 0;
    border-radius: 4px;
    > ul {
        display: inline-block;
    }
    li {
        display: inline;
        a {
            float: left;
            position: relative;
            padding: 6px 12px;
            margin-left: -1px;
            color: $font-color;
            line-height: 1.5;
            background-color: #fff;
            border: 1px solid #ddd;
            /*@include transition(background-color .2s, color .25s);*/
            transition: all 0.25s;
            &:hover, &.active {
                will-change: background-color, color;
                color: #fff;
                background-color: $font-color;
                border-color: $font-color;
            }
            &:hover .arrow-prev {
                border-right: 5px solid #fff;
            }
            &:hover .arrow-next {
                border-left: 5px solid #fff;
            }
        }
    }
    .arrow-prev {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid $font-color;
        display: inline-block;
    }
    .arrow-next {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $font-color;
        display: inline-block;
    }
}