/* =======================
   pages/common
   ======================= */
.main {
	font-family: "Noto Serif TC", serif;
	@extend %notosanstc;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;

	overflow: hidden;
	top: 0;
	left: 0;
	width: 100vw;
	background: url(../img/bg-full.webp) left top no-repeat;
	background-size: cover;
	background-size: 100% 100%;

	section {
		position: relative;
		width: 100%;
		height: 100%;
		min-width: 100vw;
		// min-height: 100vh;
		padding: 50px 0 25px;
		@include mq($max-width: $bp-2s) {
			padding: 25px 0;
		}
		.inner {
			max-width: $bp-2;
			margin: 0 auto;
			font-size: $fontsize + 2px;
			text-align: center;
			line-height: normal;
			@include mq($max-width: $bp-2) {
				max-width: 90vw;
			}
			> .title {
				display: block;
				margin: 25px auto 40px;
				&:before {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			> .content {
				width: 100%;
				letter-spacing: 1px;

				> .text {
					margin-top: 60px;
					margin-bottom: 40px;
					p {
						font-size: $fontsize + 2px;
						line-height: normal;
					}
				}

				> .imgs {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					column-gap: 32px;
					> img {
						display: block;
						width: 100%;
					}
				}


				.gotobtn {
					border-radius: 35px;
					background: rgba(209, 7, 88, 1);
					color: $color-white;
					display: inline-block;
					// padding: 7px 21px;
					padding: 12px 32px;
					box-shadow: 0 18px 20.2px 0 rgba(0, 0, 0, .25);
					transition: box-shadow .1s ease;
					@include mq($max-width: $bp-2s) {
						padding: 15px 50px;
						margin: 10px auto;
					}
					> a {
						color: inherit;
						display: block;
						width: 100%;
						height: 100%;
						letter-spacing: 1px;
						line-height: normal;
						font-weight: bold;
						font-size: $fontsize-3;
						@include mq($max-width: $bp-2s) {
							font-size: $fontsize-2;
							letter-spacing: 2px;
							// display: flex;
							align-items: center;
							justify-content: center;
							display: inline-grid;
							grid-template-columns: 1fr auto;
						}
						&:after {
							content: "";
							position: relative;
							display: inline-block;
							margin-left: 7px;
							right: 0;
							width: calc(16px * 1.9);
							height: calc(13px * 1.9);
							margin-bottom: -2px;
							background: url(../img/cta_arrow.svg) left center no-repeat;
							background-size: cover;
							transition: right .1s ease;
							@include mq($max-width: $bp-2s) {
								width: calc(16px * 1.7);
								height: calc(13px * 1.7);
								margin-left: 10px;
							}
						}
					}
					&:hover {
						box-shadow: 0 7px 7px 0 rgba(0, 0, 0, .25);
						a:after {
							right: -7px;
						}
					}
				}
			}
		}
		&.fullwidth {
			.inner {
				width: 100% !important;
				max-width: 100% !important;
			}
		}
	}
}
body {
	// background: #000;
	// background: url(../img/bg-block.jpg) center center repeat;
	// background-size: contain;
	// background: url(../img/bg.jpg) center center repeat;

	overflow-x: hidden;
	scroll-behavior: smooth;
	color: $color-black;
	&.disableScroll {
		// position: fixed;
		overflow: hidden;
	}
}