/* =======================
   pages/common
   ======================= */
.main {
	font-family: "Noto Serif TC", serif;
	@extend %notosanstc;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;

	overflow: hidden;
	top: 0;
	left: 0;
	width: 100vw;
	background: url(../img/bg-full.webp) left top no-repeat;
	background-size: cover;
	// background-size: 100% 100%;

	section {
		position: relative;
		width: 100%;
		height: 100%;
		min-width: 100vw;
		// min-height: 100vh;
		padding: 40px 0;
		@include mq($max-width: $bp-2s) {
			padding: 20px 0;
		}
		.inner {
			max-width: $bp-2;
			margin: 0 auto;
			font-size: $fontsize + 2px;
			text-align: center;
			line-height: normal;
			@include mq($max-width: $bp-2) {
				max-width: 90vw;
			}
			.title {
		    	display: inline-block;
				margin: 25px auto;
				&:before {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
				}
				&._main {
					margin-bottom: 24px;
					border-bottom: 1.5px solid;
					border-image: linear-gradient(to right, #824C98 0%, #824C98 20%, #D6BCD5 50%,  #824C98 80%, #824C98 100%) 1;
					@include mq($max-width: $bp-2s) {
						width: 100%;
					}
					h2 {
						font-size: $fontsize-5;
						font-weight: 700;
						white-space: pre-line;
						padding-bottom: 16px;
						color: #470E27;
						> span {
							display: inline-block;
							@include mq($max-width: $bp-2s) {
								display: block;
								letter-spacing: 5px;
							}
						}
					}
				}
			}
			> .content {
				width: 100%;
				letter-spacing: 1px;

				.title {
					display: block;
				}
				> .imgs {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					column-gap: 32px;
					@include mq($max-width: $bp-2m) {
						column-gap: 24px;
					}
					@include mq($max-width: $bp-2s) {
						column-gap: 12px;
					}
					> img {
						display: block;
						width: 100%;
					}
				}
			}
		}
		.ytimg {
				display: block;
				width: 100%;
				height: 100%;
				// &:after {
				// 	content: "";
				// 	position: absolute;
				// 	top: 50%;
				// 	left: 50%;
				// 	transform: translate(-50%, -50%);
				// 	display: block;
				// 	width: calc(160px / 2);
				// 	height: calc(160px / 2);
				// 	background: url(../img/video_play@2x.png) left top no-repeat;
				// 	background-size: cover;
				// 	transition: .2s;
				// }
				// &:hover {
				// 	cursor: pointer;
				// 	&:after {
				// 		transform: translate(-25%, -50%);
				// 	}
				// }
				> img {
					display: block;
					width: 100%;
					visibility: hidden;
					z-index: -99;
				}

				&._with_iframe {
					background: none !important;
					// &:after {
					// 	display: none;
					// }
					.ytimg_video {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}
			}
		&.fullwidth {
			.inner {
				width: 100% !important;
				max-width: 100% !important;
			}
		}
	}
}
body {
	overflow-x: hidden;
	scroll-behavior: smooth;
	color: $color-black;
	&.disableScroll {
		// position: fixed;
		overflow: hidden;
	}
}