/* =======================
   pages/_jp_info
   ======================= */
.main {
	section._jp_info {
		.inner {
			.btn-less {
				font-weight: 700;
				margin-top: 24px;
				color: #7D71AC;
			}
		}
	}
}