/* =======================
   pages/_jp_info
   ======================= */
.main {
	section._jp_info {
		.inner {
			.btn-more {
				font-family: "Noto Serif TC", serif;
				font-weight: 700;
				color: #7D71AC;

				display: block;
				margin: 24px auto;
				cursor: pointer;

				&:before {
					content: "MORE";
				}
				&:after {
					content: "+";
					display: inline-block;
					margin-left: 5px;
					transition: .2s ease;
				}
				&:hover {
					&:after {
						transform: translateX(5px);
					}
				}
			}
			> .title {
				 margin-bottom: 40px;
			}
			> .content {
				margin-bottom: 60px;
				> .text {
					margin-bottom: 40px;
					p {
						font-size: $fontsize + 2px;
						line-height: 1.6;
						span {
							display: block;
							@include mq($max-width: $bp-2m) {
								display: inline;
							}
						}
					}
				}
				&._jp_artisan {
					position: relative;
					max-height: 120px; // 設定一個你想讓使用者看到的預覽高度（含文字與部分圖片）
					overflow: hidden;
					transition: max-height .25s ease-in-out;

					-webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
					mask-image: linear-gradient(to bottom, black 80%, transparent 100%);

					will-change: max-height;
					backface-visibility: hidden;
				}
			}
		}
		&._more {
			.inner {
				> .content._jp_artisan {
					max-height: 700px; // 展開後的高度限制，設大一點
					-webkit-mask-image: none; // 展開後取消漸層透明
					mask-image: none;
				}
				.btn-more {
					&:before {
						content: "LESS";
					}
					&:after {
						content: "-";
					}
				}
			}
		}
	}
}