/* =======================
   pages/_hibikis
   ======================= */
.main {
	section._hibikis {
		.inner {
			.content {
				._hibiki {
					display: grid;
					grid-template-columns: 4.6fr 5.4fr;
					align-items: center;
					column-gap: 40px;
					margin-bottom: 60px;
					&:nth-child(2) {
						grid-template-columns: 5.4fr 4.6fr;
						> .product {
							order: 2;
						}
					}
					> .product {
						img {
							display: block;
							width: 100%;
							height: auto;
						}
					}
					> .introduce {
						.title {}
						.description {
							p {
								white-space: pre-line;
								// letter-spacing: -1px;
							}
						}
						.imgs,
						.features {
							padding-inline: 5%;
						}
						.imgs {
							margin-block: 24px;
							display: grid;
							grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
							column-gap: 16px;
							img {
								display: block;
								width: 100%;
								height: auto;
							}
						}
						.features {
							width: 100%;
							.feature {
								width: 100%;
								margin-bottom: 16px;
								display: grid;
								grid-template-columns: minmax(auto, 110px) 1fr;
								column-gap: 16px;
								align-items: baseline; // 讓不同字數的文字對齊基準線
								&:last-child {
									margin-bottom: 0;
								}
								> span {
									font-size: $fontsize + 2px;
									text-align: justify;
									line-height: 1;
									&:first-child {
										text-align: center;
										max-width: 110px;
										background: #470E27;
										border-radius: 12px 0;
										padding: 8px 16px;
										color: $color-white;
									}
									&:last-child {
										letter-spacing: -1px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}