/* =======================
   pages/_hibikis
   ======================= */
.main {
	section._hibikis {
		.inner {
			.content {
				._hibiki {
					display: grid;
					grid-template-columns: 4.6fr 5.4fr;
					align-items: center;
					column-gap: 40px;
					margin-bottom: 60px;
					@include mq($max-width: $bp-2m) {
						grid-template-columns: 1fr
					}
					&:nth-child(2) {
						grid-template-columns: 5.4fr 4.6fr;
						@include mq($max-width: $bp-2m) {
							grid-template-columns: 1fr;
						}
						> .product {
							order: 2;
							@include mq($max-width: $bp-2m) {
								order: 0;
							}
						}
					}
					> .product {
						img {
							display: block;
							width: 100%;
							height: auto;
						}
					}
					> .introduce {
						.title {}
						.description {
							p {
								span {
									display: block;
									@include mq($max-width: $bp-2m) {
										display: inline;
									}
								}
							}
						}
						.imgs,
						.features {
							padding-inline: 5%;
						}
						.imgs {
							margin-block: 24px;
							display: grid;
							grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
							column-gap: 16px;
							img {
								display: block;
								width: 100%;
								height: auto;
							}
						}
						.features {
							width: 100%;
							.feature {
								width: 100%;
								margin-bottom: 16px;
								display: grid;
								grid-template-columns: minmax(auto, 110px) 1fr;
								column-gap: 16px;
								align-items: center;
								&:last-child {
									margin-bottom: 0;
								}
								> span {
									font-size: $fontsize + 2px;
									text-align: justify;
									line-height: 1;
									@include mq($max-width: $bp-2m) {
										line-height: normal;
									}
									&:first-child {
										text-align: center;
										max-width: 110px;
										background: #470E27;
										border-radius: 12px 0;
										padding: 8px 16px;
										color: $color-white;
										overflow: hidden; // 確保滑出效果不會超出圓角
										z-index: 1;
										&:after {
											content: "";
											position: absolute;
											top: 0;
											left: -100%; // 初始位置在左邊外面
											width: 100%;
											height: 100%;
											background: rgba(255, 255, 255, 0.25); // 極淡的白光
											transition: left .2s ease;
											z-index: -1;
										}
									}
									&:last-child {
										letter-spacing: -1px;
									}
								}
								&:hover {
									> span:first-child:after {
										left: 0; // 滑入
									}
								}
							}
						}
					}
				}
			}
		}
	}
}