/* =======================
layout/footer
======================= */
footer.footer {
	width: 100%;
	padding: 25px 0;
	background: $color-white;
	@include mq($max-width: $bp-2s) {
		padding-bottom: 50px;
	}
	section {
		line-height: normal;
		&.copyright {
			text-align: center;
			font-weight: 500;
			color: $color-font-1;
			font-size: $fontsize-b;
		}
	}
}