/* =======================
   pages/brand
   ======================= */
.main {
	section._brand {
		// margin-top: 50px;
		> .inner {
			.box-lr {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				@include mq($max-width: $bp-2) {
					flex-direction: column;
					margin-top: 30px;
				}
				@include mq($max-width: $bp-2s) {
				}
				.box-l {
					width: 50%;
					@include mq($max-width: $bp-2) {
						width: 100%;
						margin-bottom: 20px;
					}
					@include mq($max-width: $bp-2s) {
					}
					// .img {
					// 	img {
					// 		display: block;
					// 		width: 100%;;
					// 	}
					// }

					// .ytimg_video {
					// 	max-height: 282px;
					// }
				}
				.box-r {
					width: 46%;
					@include mq($max-width: $bp-2) {
						width: 100%;
					}
					@include mq($max-width: $bp-2s) {
					}
					.title {
						.t1 {
							padding-right: 15px;
						}
						.t2 {
						}
					}
					.content {
						p {
							letter-spacing: inherit;
							line-height: inherit;
							font-size: inherit;

							font-weight: 600;
							text-shadow: 0 0 10px $color-black;
							color: $color-white;

							@include mq($max-width: $bp-2m) {
								font-size: $fontsize-1;
							}
							@include mq($max-width: $bp-2s) {
								font-size: $fontsize-3;
								line-height: $fontsize-7;
								letter-spacing: .5px;
							}
						}
					}
				}
			}
		}
	}
}