/* =======================
	pages/weatherbox
	======================= */
.main {
	section.weatherbox {
		@import "_1.wbox-background";
		@import "_1.wbox-inner";

		&[data-daynight="day"],
		&[data-daynight="noon"] {
			.inner {
				color: $color-font-2;
				.details {
					ul {
						background: rgba($color-white, .5);
						li {
							border-bottom: 1px solid rgba($color-font-3, .25);
							span {
								color: $color-font-3;
							}
						}
					}
				}
			}
		}
		&[data-daynight="day"] {
			.background {
				background-color: nth($color-daynight, 1);
				background-image: linear-gradient(180deg, nth($color-daynight, 1) 34%, darken(nth($color-daynight, 1), 9%) 100%);
			}
		}
		&[data-daynight="noon"] {
			.background {
				background-color: nth($color-daynight, 2);
				background-image: linear-gradient(180deg, nth($color-daynight, 2) 34%, darken(nth($color-daynight, 2), 33%) 100%);
			}
		}
		&[data-daynight="afternoon"] {
			.background {
				background-color: nth($color-daynight, 2);
				background-image: linear-gradient(135deg, darken(nth($color-daynight, 2), 11%) 34%, darken(nth($color-daynight, 2), 27%) 100%);
				&:after {
					opacity: .2;
				}
			}
		}
		&[data-daynight="night"] {
			.background {
				background-color: nth($color-daynight, 3);
				background-image: linear-gradient(135deg, nth($color-daynight, 3) 50%, lighten(lighten($color-black, 13%), 5%) 100%);
			}
		}
		&.bg-changing {
			.background {
				animation: fadeOutEffect 1.5s forwards;
			}
		}
	}
}