/* =======================
	pages/weatherbox-inner
	======================= */
.inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	// max-width: 90%;
	overflow: hidden;
	color: $color-white;
	padding: 0 10%;
	@include mq($max-width: $bp-3l) {
		padding: 0 5%;
	}
	.card {
		width: 100%;
		height: 100%;
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		margin: 0 auto;
		user-select: none;
		@include mq($max-width: $bp-2m) {
			flex-direction: column;
			justify-content: center;
		}
		@include mq($max-width: $bp-2s) {
			padding-bottom: 15vh;
		}
		.status,
		.details {
			line-height: normal;
			letter-spacing: .5px;
			transition: .25s cubic-bezier(.6, .04, .98, .335);
		}
		.status {
			width: 57%;
			@include mq($max-width: $bp-3l) {
				width: 54%;
			}
			@include mq($max-width: $bp-2l) {
				width: 47%;
			}
			@include mq($max-width: $bp-2m) {
				width: 100%;
			}
			.position {
				font-size: $fontsize-3;
			}
			.temp {
				height: $fontsize-10 * 3;
				line-height: $fontsize-10 * 3;
				font-size: $fontsize-10 * 3;
				font-weight: 300;
				letter-spacing: -10px;
				&:empty:after {
					content: "-";
				}
				&:not(:empty):after {
					content: "°C";
					// letter-spacing: -9px;
					margin-left: 12px;
				}
			}
			.dateandtime {
				font-size: $fontsize-c;
				margin-top: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
			    opacity: .78;
				.date {
					margin-right: 5px;
				}
				.time {}
			}
		}
		.details {
			width: 43%;
			height: auto;
			max-height: 78%;
			overflow: scroll;
			-webkit-overflow-scrolling: touch;
			@include mq($max-width: $bp-3l) {
				width: 46%;
			}
			@include mq($max-width: $bp-2l) {
				width: 53%;
			}
			@include mq($max-width: $bp-2m) {
				margin-top: 35px;
				width: 100%;
				max-height: 51%;
			}
			ul {
				width: 100%;
				background: rgba($color-white, .25);
				padding: 20px;
				transition: .2s;
				margin: 0 auto;
				@include mq($max-width: $bp-3l) {
					padding: 15px;
				}
				@include mq($max-width: $bp-2m) {
					max-width: 67%;
					padding: 10px;
				}
				@include mq($max-width: $bp-m) {
					max-width: 75%;
					padding: 15px;
				}
				@include mq($max-width: $bp-3s) {
					max-width: 87%;
				}
				@include mq($max-width: $bp-2s) {
					max-width: 100%;
				}
				li {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					text-align: justify;
					padding: 12px 5px;
					border-bottom: 1px solid rgba($color-white, .5);
					@include mq($max-width: $bp-2m) {
						padding: 7px 5px;
					}
					&:first-child {
						padding-top: 0;
					}
					&:last-child {
						padding-bottom: 0;
						border-bottom: none;
					}
					span {
						font-size: $fontsize-b;
						line-height: $fontsize-b;
						color: $color-white;
						@include mq($max-width: $bp-2s) {
							font-size: $fontsize;
							line-height: $fontsize;
						}
						&:empty {
							display: none;
						}
					}
					label {
						font-size: $fontsize-5;
						display: flex;
						align-items: center;
						@include mq($max-width: $bp-2m) {
							font-size: $fontsize-3;
						}
						@include mq($max-width: $bp-2s) {
							font-size: $fontsize-6;
						}
					}
					&.item-description {
						label {
							font-size: $fontsize-1;
						}
					}
				}
			}
		}
		.weather {
			svg {
				width: 130px;
				height: 130px;
			}
		}
	}
}