/* =======================
	pages/weatherbox-background
	======================= */
.background {
	width: 100%;
	height: 100%;
	animation: fadeInEffect 1.5s forwards;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: transparent url(../img/bg-blur.png) center center repeat;
		opacity: .12;
	}
}