/* =======================
	pages/weatherbox
	======================= */
.main {
	section.weatherbox {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.inner {
			width: 450px;
			max-width: calc(100% - 20px);
			height: auto;
			overflow: hidden;
			border-radius: 5px;
			font-size: $fontsize-c;
			background-color: $color-white;
			box-shadow: 0 0 5px 2px rgba($color-black, .25);
			color: $color-font;
			.top,
			.bottom {
				padding: 0 25px;
			}
			.top {
				height: 300px;
				.background {
					.dayandnight {
						// height: 140px;
					}
				}
				.info {
					position: absolute;
					bottom: 0;
					width: calc(100% - 50px);
					margin-bottom: 30px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					.status {
						line-height: normal;
						letter-spacing: 1px;
						.temp {
							color: $color-white;
							font-size: $fontsize-10;
							font-weight: 300;
						}
						.position {
						}
						.dateandtime {
							display: flex;
							align-items: center;
							.date {
								margin-right: 5px;
							}
							.time {}
						}
					}
					.weather {
						svg {
							width: 130px;
							height: 130px;
						}
					}
				}
			}
			.bottom {
				color: $color-black;
				height: 0;
				padding-top: 5px;
				padding-bottom: 5px;
				transition: .5s ease-in-out;
				.weekly {
					margin: 17px auto 0;
					width: 100%;
					list-style: none;
					display: inline-flex;
					align-items: center;
					justify-content: space-between;
					.day {
						text-align: center;
						opacity: 0;
						transform: translateY(150%);
						transition: .5s;
						.week {
							font-weight: 200;
							margin-bottom: 3px;
						}
						.weather {
							svg {
								width: 45px;
								height: 45px;
							}
						}
						&:nth-child(1) {
							transition-delay: .25s;
						}
						&:nth-child(2) {
							transition-delay: .3s;
						}
						&:nth-child(3) {
							transition-delay: .35s;
						}
						&:nth-child(4) {
							transition-delay: .4s;
						}
						&:nth-child(5) {
							transition-delay: .45s;
						}
						&:nth-child(6) {
							transition-delay: .5s;
						}
						&:nth-child(7) {
							transition-delay: .55s;
						}
					}
				}
			}
		}
		&:hover {
			.bottom {
				height: 100px;
				.weekly {
					.day {
						opacity: 1;
						transform: translateY(0);
					}
				}
			}
		}
		&.evening {
			.inner {
				.top {
					background-color: $color-evening;
					background-image: linear-gradient(180deg, $color-evening 66%, lighten($color-black, 13%) 100%);
				}
			}
		}
	}
}