// ==========================================
// _base.scss
// ==========================================
@use "utilities/config"as *;

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: $ink;
    background: $bg;
    font: #{$font-size-base}/#{$line-height} $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

select {
    &.is-active {
        background-color: $status-doing !important;
        border-color: dark($status-doing, 1.1) !important;
    }
}

// 螢幕助讀工具
.sr-only,
.visually-hidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.display-n {
    display: none;
}
.display-n-i {
    display: none !important;
}