/* =======================
   pages/common
   ======================= */
.main {
	overflow: hidden;
	section {
		width: 100%;
		height: 100%;
		max-width: 100vw;
		// min-height: 100vh;
		.inner {
			margin: 0 auto;
		}
	}
}
body {
	background: $color-black;
	overflow-x: hidden;
	scroll-behavior: smooth;
    color: darken($color-white, 5%);
	background-color: $color-black;
	background-image: linear-gradient(147deg, lighten($color-black, 10%) 0%, $color-black 87%);
	font-size: 7.8em;
	line-height: normal;
	padding: 0 .5em;
	letter-spacing: .5px;
	&.Mobile {
		letter-spacing: -1px;
		padding: .25em;
		font-size: 2.87em;
		line-height: 1.23em;
		background-color: lighten($color-black, 2.5%);
		background-image: unset;
	}
}