// ===============================
// layout/_footer.scss
// ===============================
@use "utilities/config"as *;
@use "utilities/mixins"as *;

.footer {
    margin-top: 16px;
    border-top: 1px solid $bd;

    .footer__inner {
        @include container();
        display: flex;
        justify-content: flex-end;
        align-items: center;

        small {
            color: $muted;
        }
    }
}