// ===============================
// layout/_footer.scss
// ===============================
@use "../utilities/config"as *;

.footer {
    margin-top: 16px;

    .footer__inner {
        border-top: 1px solid $bd;
        padding: 8px 12px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        small {
            color: $muted;
        }
    }
}