// ==========================================
// layout/_footer.scss
// ==========================================
@use "utilities/config"as *;
@use "utilities/mixins"as *;

.footer {
    margin-top: $space-4;
    border-top: 1px solid $bd;

    &__inner {
        @include container();
        display: flex;
        justify-content: flex-end;
        align-items: center;

        small {
            color: $muted;
        }
    }
}