// ==========================================
// layout/_form.scss
// 表單樣式
// ==========================================
@use "sass:color";
@use "utilities/config"as *;
@use "utilities/mixins"as *;

form {
	.msg {
		&:not(:empty) {
			@include container();
			margin-bottom: $space-3;
			background: $card-bg;
			color: $ink;
			border: 1px solid $bd;
			border-radius: $radius;
			box-shadow: $shadow-sm;
			font-size: $font-size-base;
		}

		&-h {
			&::after {
				content: "";
				width: 100%;
				height: 1px;
				background: $bd;
				display: block;
				margin: 7px 0;
			}

			span {
				font-weight: 600;
				margin-left: 7px;
			}
		}

		&-b {
			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					display: grid;
					grid-template-columns: repeat(2, auto) 1fr;
					gap: 7px;

					b {
						font-weight: 600;
						min-width: 77px;
					}
					span {
						&.span-old {
							color: $diffOld;
							&:after {
								content: ">";
								display: inline-block;
								margin: 0 3px;
								font-size: $font-size-xs;
							}
						}
						&.span-new {
							color: $diffNew;
						}
					}
				}
			}
		}
	}

	section.section {
		margin-bottom: $space-5;

		&::after {
			content: "";
			width: 100%;
			height: 1px;
			background: $bd;
			display: block;
			margin-top: $space-5;
		}

		&:last-child::after {
			display: none;
		}

		h3 {
			margin: 0;
			font-size: $font-size-base;
			display: flex;
			align-items: center;
			line-height: normal;
			@include respond(md) {
				font-size: $font-size-lg;
				margin-bottom: 3px;
			}
		}

		.row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 7px 9px;
			width: 100%;

			@include respond(md) {
				grid-template-columns: 1fr 1fr;
				gap: 11px 9px;
			}
		}
	}

	.extra-check {
		font-size: $font-size-sm;
		color: $muted;
		border: 1px solid $bd;
		border-radius: $radius-sm;
		padding: 1px 3px;
		background: #fff;
		margin-left: 7px;
		line-height: 12px;

		@include flex-center;
		display: inline-flex;
		input {
			vertical-align: middle;
			margin: 0 3px 0 0;
		}
	}

	&.is-busy {
		opacity: .7;
		cursor: progress;
	}

	// 表單欄位
	.field {
		display: grid;
		width: 100%;

		label {
			font-size: $font-size-base;
			color: $muted;
			letter-spacing: -.3px;
		}

		input,
		select,
		textarea {
			width: 100%;
			min-width: 100%;
			max-width: fit-content;
			min-height: fit-content;
			font: inherit;
			color: $ink;
			background: #fff;
			border: 1px solid $bd;
			border-radius: $radius-sm;
			padding: 1px 7px;
			transition: border-color .2s ease;
			@include respond(md) {
				font-size: $font-size-lg;
			}

			// 針對 iOS 日期欄位修正
			&[type="date"],
			&[type="time"],
			&[type="datetime-local"] {
				appearance: none; /* 移除 iOS 預設樣式 */
				-webkit-appearance: none;

				box-sizing: border-box;
				width: 100%;
				min-width: 100%;
				text-align: left;
				@supports (-webkit-touch-callout: none) {
					font-size: inherit; /* 防止 iOS 自動縮放 */
					width: 100%;
				}
			}

			&:focus {
				outline: none;
				border-color: $ink;
			}

			&[disabled],
			&[readonly] {
				color: $muted;
				cursor: not-allowed;
				background: rgba($muted, .1);
			}
		}

		select {
			option[value="週花"],
			option[value="宅配"] {
				color: $mh;
			}
		}

		&.showhide {
			label {
				color: $mh;
			}
			input {
				border-color: $mh;
			}
		}
	}

	&.formEdit {
		.field.field-orderStatus,
		.field.field-isPay,
		.field.field-isShip {
			label {
				color: $err;
			}
			input,
			select,
			textarea {
				color: $err;
				border-color: $err;
				font-weight: bold;
			}
		}
	}
	button.primary {
		@include respond(md) {
			width: 98px;
			height: fit-content;
			line-height: normal;
			padding: 5px 7px;
			font-size: $font-size-lg;
		}
	}
}