/* =======================
layout/_header
======================= */
header.header {
	// position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 1px solid $color-bd;
    padding: 7px;
    z-index: 10;

	.header-inner {
	}
	h1 {
		font-size: $fontsize-1;
		margin: 0;
	}

	.tabs {
		display: flex;
		gap: 8px;
		margin-top: 8px;
	}
	.tab {
		padding: 7px;
		border: 1px solid $color-bd;
		border-radius: 999px;
		background: #fff;
		font-size: $fontsize-a;
		&.active {
			background: #111;
			color: #fff;
			border-color: #111;
		}
	}
}