@use "sass:color";
@use "utilities/config"as *;
@use "utilities/mixins"as *;

/* ========== 清單卡片（兩行極簡 + 間距更小） ========== */
.card.order {
	background: $card-bg;
	border: 1px solid $bd;
	border-radius: $radius;
	padding: 3px 7px;

	&+.card.order {
		margin-top: 8px;
	}

	.card__inner {
		display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
	}
	.col {
		font-size: $font-size-base;
		&.a {
		}
		&.b {
			height: 100%;
		}
		.cell {

			&.actions {
				display: grid;
				gap: 2px;
			    height: 100%;
			    align-items: center;
			}
		}
	}
	.row {
		display: grid;
		align-items: center;

		gap: 0 7px;
		padding: 1px 0;
		line-height: normal;

		.cell {
			&.status {
				display: inline-block;
				padding: 1px 6px;
				font-size: $font-size-sm;
				border: 1px solid $ink;
				border-radius: $radius-sm;
				color: $ink;
				line-height: 1.3;
				@include respond(md) {
					font-size: $font-size-sm;
				}
				span {
					color: $ink;
				}
			}
			&.meta {
				display: flex;
				align-items: center;
				color: $muted;
				gap: 9px;
				&.shippay {
		            @include respond(md) {
						grid-column: 1 / -1;
						padding: 5px 0 2px;
					}
				}
				&.oName {
					max-width: 120px;
					line-height: 1.2em;
				}
			}
		}

		/* A 行：ID | [日期+標籤] | 右側編輯 */
		&.a {
			grid-template-columns: repeat(3,auto) 1fr;
			.cell {
				&.id {
					display: inline-block;
					font-weight: 500;
					color: $muted;
					letter-spacing: -.5px;
				}
			}

			.date {
				color: $ink;
			}

			/* 日期顏色稍深 */
		}

		/* B 行：平台 | 客戶 | 分類 | 金額 | 右側詳情 */
		&.b {
			grid-template-columns: repeat(3, auto) 1fr;

			.amount {
				font-weight: 500;
				color: $ink;
			}
		}
	}

	.tags-inline {
		display: inline-flex;
		gap: 7px;
		align-items: center;

		.tag {
			display: inline-block;
			padding: 1px 6px;
			font-size: $font-size-sm;
			border: 1px solid $bd;
			border-radius: $radius-sm;
			color: $muted;
			// background: #fff;
			line-height: 1.3;
			transition: all 0.2s ease;

			&.warn {
				// border-color: rgba($err, .3);
				color: $err;
				background: rgba($err, .3);
				font-weight: 600;
			}
		}
	}

	.icon-btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 22px;
		height: 22px;
		border: 1px solid $bd;
		border-radius: $radius-sm;
		background: #fff;
		color: $muted;
		cursor: pointer;
        @include respond(md) {
			width: 25px;
			height: 25px;
		}
		&:hover {
			background: $bg-soft;
			color: $ink;
		}
		svg {
			display: block;
		}
	}

	&[data-status="doing"] {
		.row .cell.status {
			background: $status-doing;
		}
	}
	&[data-status="done"] {
		opacity: .77;
		background: $status-done;
		.row {
			.cell.status {
				background: $status-done;
			}
			.cell.date,
			.cell.amount {
				color: $muted;
			}
		}
	}
	&[data-status="cancel"] {
		text-decoration: line-through;
		.row .cell.status {
			background: $status-cancel;
			text-decoration: auto;
		}
	}

	/* 詳細內容（展開區） */
	.detail {
		display: grid;
		// gap: 10px;
		padding-top: 6px;
		margin-top: 4px;
		border-top: 1px dashed $bd;
		font-size: $font-size-sm;

        @include respond(md) {
			font-size: $font-size-base;
        }
		&-group {
			sapn {
				margin-left: 7px;
			}
			&:after {
				content: "";
				width: 100%;
				height: 1px;
				background: $bd;
				display: block;
				margin: 7px 0;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}

			.g-body {
				display: grid;
				grid-template-columns: repeat(3, minmax(0, 1fr));
				gap: 1px 7px;

	            @include respond(md) {
					grid-template-columns: 1fr;
					gap: 3px 7px;
				}

				.kv {
					display: grid;
					grid-template-columns: minmax(0, 77px) 1fr;
					gap: 0 7px;
					align-items: start;

					@include respond(md) {
						// grid-template-columns: 100px 1fr;
					}

					b {
						font-weight: 600;
						color: $muted;
						white-space: nowrap;
						letter-spacing: -.3px;
					}

					span {
						color: $ink;
						word-break: break-word;
						flex: 1;
						text-align: justify;
						line-height: normal;
						letter-spacing: -.3px;
					}
				}
			}
		}
	}
}

.list-wrap {
    margin-top: 6px;
}