/* =======================
   pages/about-skill
   ======================= */
.main {
	section.about-skill {
		background: lighten($color-black, 95%);
		.inner {
			ul {
				li {
					margin-bottom: 9px;
					letter-spacing: 0;
					// display: flex;
					// align-items: center;
					// justify-content: flex-start;
					@include mq($max-width: $bp-2s) {
						// margin-bottom: 11px;
					}
					&:last-child {
						margin-bottom: 0;
					}
					h4 {
						font-size: $fontsize * 1.1;
						display: inline-block;
						width: 46px;
						padding: 0 3px;
						margin-right: 0;
						font-weight: bold;
						@include mq($max-width: $bp-2s) {
							font-size: $fontsize-1 * 1.1;
							width: 100%;
							margin-right: 0;
							margin-bottom: 0;
							padding: 0;
							// letter-spacing: 1.5px;
						}
						&:after {
							content: "";
							position: absolute;
							left: 0;
							bottom: 1px;
							width: 100%;
							height: 11px;
							background: rgba(nth($color-analogous, 1), .15);
							// background: rgba(nth($color-analogous, 1), .15);
							opacity: 0;
							display: none;
							@include mq($max-width: $bp-2s) {
								bottom: 0px;
								width: 17%;
								height: 17px;
								// background: rgba(nth($color-analogous, 1), .15);
							}
						}
					}
					.labels {
						font-size: inherit;
						display: inline;
						// width: calc(100% - 40px - 10px);
						padding-left: 10px;
						border-left: 2px solid lighten($color-black, 87%);
						word-break: break-word;
						// @include mq($max-width: $bp-2s) {
						// 	width: calc(100% - 35px - 5px);
						// }
						font-size: $fontsize * 1.1;
						@include mq($max-width: $bp-2s) {
							font-size: $fontsize;
							padding-left: 0;
							border-left: 0;
							// font-size: $fontsize;
							color: rgba($color-black, .78);
						}
						label {
							font-size: inherit;
							display: inline-block;
							@include mq($max-width: $bp-2s) {
								letter-spacing: -.05px;
							}
							&:after {
								content: "、";
								@include mq($max-width: $bp-2s) {
									letter-spacing: -1px;
								}
							}
							&:last-child {
								&:after {
									content: "";
								}
							}
							&:hover {
								font-weight: 700;
								color: $color-second;
							}
						}
					}
				}
			}
		}
	}
}