<main id="main" class="main">
	<h1>Calendar Creator</h2>
	<section class="_1_form">
		<div class="inner">
			<h2 class="title">Step1. Setting ⚙️</h2>
			<ul>
				<li>
					<label>Summary</label>
					<input class="summary" type="text" name="cal-summary" v-model="form.$summary">
				</li>
				<li>
					<label>Details</label>
					<input class="details" type="text" name="cal-details" v-model="form.$details">
				</li>
				<li>
					<label>Location</label>
					<input class="location" type="text" name="cal-location" v-model="form.$location">
				</li>
				<li>
					<label>Start Time</label>
					<input class="datetime-1" type="datetime-local" name="cal-time-1" v-model="form.$startTime" @focus="timeOnClick1">
				</li>
				<li>
					<label>End Time</label>
					<input class="datetime-2" type="datetime-local" name="cal-time-2" v-model="form.$endTime" @focus="timeOnClick2">
				</li>
			</ul>
		</div>
	</section>
	<section class="_2_result">
		<div class="inner">
			<h2 class="title">Step2. Add to Your Calendar 🗓</h2>
			<div class="buttons">
				<a class="cal-google" target="_blank" :href="cal$google">Google</a>
				<a class="cal-yahoo" target="_blank" :href="cal$yahoo">Yahoo!</a>
				<a class="cal-apple" target="_blank" :href="cal$apple">Apple</a>
				<a class="cal-outlook" target="_blank" :href="cal$outlook">Outlook</a>
			</div>
		</div>
	</section>
</main>