/* =======================
   pages/_qualify
   ======================= */
.main {
	section._qualify {
		.inner {
			> .title {
				width: calc(800px / 2);
				height: calc(126px / 2);
				@include mq($max-width: $bp-2m) {
					width: calc(670px / 2);
					height: calc(126px / 2);
				}
				&:before {
					background: url(../img/t-qualify_pc@2x.webp) center center no-repeat;
					background-size: cover;
					@include mq($max-width: $bp-2s) {
						background: url(../img/t-qualify_m@2x.webp) center center no-repeat;
						background-size: cover;
					}
				}
			}
			> .content {
				.description {}
				.bbox {
					// padding: 35px 50px;
					display: flex;
					align-items: center;
					justify-content: center;
					// @include mq($max-width: $bp-2) {
					// 	padding: 30px 40px;
					// }
					&_l,
					&_r {
						flex-direction: column;
					}
					&_t,
					&_b {
						display: flex;
						align-items: center;
						justify-content: center;
						@include mq($max-width: $bp-m) {
							flex-direction: column;
						}
					}
					&_b {
						padding-top: 15px;
					}
					&_r {
						&:before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 1px;
							height: 100%;
							background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
							pointer-events: none;
							z-index: 1;
						}
					}
				}
			}
		}
	}
}