/* =======================
   pages/_login_auchen
   ======================= */
.main {
	section._login_auchen {
		.inner {
			> .title {
				width: calc(1428px / 2);
				height: calc(128px / 2);
				@include mq($max-width: $bp-2m) {
					width: calc(670px / 2);
					height: calc(255px / 2);
				}
				&:before {
					background: url(../img/t-loginauchen_pc@2x.webp) center center no-repeat;
					background-size: cover;
					@include mq($max-width: $bp-2m) {
						background: url(../img/t-loginauchen_m@2x.webp) center center no-repeat;
						background-size: cover;
					}
				}
			}
			> .content {
				.description {
					@include mq($max-width: $bp-2s) {
						text-align: justify;
						font-size: $fontsize-1;
						line-height: normal;
					}
					&:nth-child(2) {
						@include mq($max-width: $bp-2s) {
							margin-bottom: 10px;
						}
						span {
							display: block;
							@include mq($max-width: $bp-2s) {
								margin-bottom: 12px;
							}
							&._indent {
								@include mq($max-width: $bp-2s) {
									text-indent: -1.3em;
									margin-left: 1.3em;
								}
							}
						}
					}
					&:nth-child(3) {
						// display: inline-block;
						display: inline-grid;
						grid-template-columns: 1fr 1fr;
						grid-column-gap: 7vw;
						@include mq($max-width: $bp-2s) {
							margin: 0 auto;
							max-width: 70vw;
							grid-template-columns: 1fr;
						}
						> ul {
							li {
								list-style: disc;
								text-align: justify;
								line-height: 1.8em;
								@include mq($max-width: $bp-2s) {
									line-height: normal;
									margin-bottom: 5px;
								}
								> span {
									@include mq($max-width: $bp-2s) {
										display: block;
									}
								}
							}
						}
					}
				}
				.step {
					&-b {
						width: calc(551px / 2.6);
						height: calc(468px / 2.6);
						@include mq($max-width: $bp-2) {
							width: calc(551px / 2.9);
							height: calc(468px / 2.9);
						}
						@include mq($max-width: $bp-2m) {
							width: calc(551px / 2.2);
							height: calc(468px / 2.2);
						}
						@include mq($max-width: $bp-2s) {
							width: calc(551px / 1.8);
							height: calc(468px / 1.8);
						}
					}
					$max: 4;
					@for $i from 1 through $max {
						&_#{$i} .step-b:before {
							background: url(../img/line_rule_step#{$i}@2x.webp) left center no-repeat;
							background-size: cover;
						}
					}
				}
				.gotobtn {
					@include mq($max-width: $bp-2s) {
						padding: 15px 20px;
					}
				}
			}
		}
	}
}