/* =======================
   pages/_lottery
   ======================= */
.main {
	section._lottery {
		.inner {
			> .title {
				width: calc(1953px / 2);
				height: calc(126px / 2);
				@include mq($max-width: $bp-2s) {
					width: calc(736px / 2);
					height: calc(255px / 2);
				}
				&:before {
					background: url(../img/t-lottery_pc@2x.webp) left center no-repeat;
					background-size: cover;
					@include mq($max-width: $bp-2s) {
						background: url(../img/t-lottery_m@2x.webp) left center no-repeat;
						background-size: cover;
					}
				}
			}
			> .content {
				.step {
					&-b {
						width: calc(550px / 2.6);
						height: calc(421px / 2.6);
					}
					$max: 4;
					@for $i from 1 through $max {
						&_#{$i} .step-b:before {
							background: url(../img/lottery_rule_step#{$i}@2x.webp) left center no-repeat;
							background-size: cover;
						}
					}
				}
			}
		}
	}
}