/* =======================
	animation
	option: infinite forwards alternate
	animation: keep2scale 1s infinite alternate;
	======================= */
@keyframes fadeEffect { // animation: fadeEffect 1s forwards;
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes lv1Effect { // for preload use
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes lv2Effect { // for preload use
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes fadeUpEffect { // animation: fadeUpEffect 1s;
	from { margin-top: 30px; opacity: 0; }
	to { margin-top: 0; opacity: 1; }
}
@keyframes fadeUpEffect2 { // animation: fadeUpEffect 1s;
	from { transform: translateY(35px); opacity: 0; }
	to { transform: translateY(0); opacity: 1; }
}
@keyframes breathing {
	0% { transform: scale(.978) translateY(2px); }
	25% { transform: scale(1) translateY(0); }
	60% { transform: scale(.978) translateY(-2px); }
	100% { transform: scale(.978) translateY(2px); }
}
@keyframes breathing2 { // animation: breathing2 cubic-bezier(.5, 0, .5, 1) alternate infinite;
    0% { transform: translate(5px, 0) scale(0.97) rotate(0deg) }
    25% { transform: translate(-4px, 1px) scale(1) rotate(-2deg) }
    80% { transform: translate(1px, -2px) scale(0.98) rotate(3deg) }
    100% { transform: translate(0, 3px) scale(0.96) rotate(0deg) }
}
@keyframes keep2scale {
	80%,
	100% { transform: scale(1.1); }
}
@keyframes keep2left {
	80%,
	100% { transform: translateX(-10px); }
}
@keyframes keep2right {
	80%,
	100% { transform: translateX(10px); }
}
@keyframes keep2Up {
	80%,
	100% { transform: translateY(-10px); }
}
@keyframes keep2down {
	80%,
	100% { transform: translateY(10px); }
}
@keyframes keep2upanddown {
    70% { transform: translateY(5px); }
    100% { transform: translateY(5px); }
}
@keyframes keep2twitch {
	from, 11.1%,
	to { transform: translate3d(0, 0, 0); }
	22.2% { transform: skewX(-12.5deg) skewY(-12.5deg); }
	33.3% { transform: skewX(6.25deg) skewY(6.25deg); }
	44.4% { transform: skewX(-3.125deg) skewY(-3.125deg); }
	55.5% { transform: skewX(1.5625deg) skewY(1.5625deg); }
	66.6% { transform: skewX(-0.78125deg) skewY(-0.78125deg); }
	77.7% { transform: skewX(0.390625deg) skewY(0.390625deg); }
	88.8% { transform: skewX(-0.1953125deg) skewY(-0.1953125deg); }
}
@keyframes keep2scolltip {
	0% {
		opacity: 0;
		top: -25px;
	}
	15% {
		opacity: 0;
		top: -15px;
	}
	50% {
		opacity: 1;
		top: 0;
	}
	85% {
		opacity: 0;
		top: 15px;
	}
	100% {
		opacity: 0;
		top: 25px;
	}
}