/* =======================
   pages/page
   ======================= */

// BEGIN button cta animation //
$anim-duration: 1.5; // in seconds
$anim-speed: .65; // in seconds
@keyframes shine-alt1 {
  0% {
    opacity: 0.5;
    transform: translateX(-100px) skewX(-15deg);
    transition-property: opacity, transform;
  }
  #{($anim-speed / ($anim-duration + $anim-speed) * 100%)},
  100% {
    opacity: 0.6;
    transform: translateX(300px) skewX(-15deg);
    transition-property: opacity, transform;
  }
}

@keyframes shine-alt2 {
  0% {
    opacity: 0;
    transform: translateX(-100px) skewX(-15deg);
    transition-property: opacity, transform;
  }
  #{($anim-speed / ($anim-duration + $anim-speed) * 100%)},
  100% {
    opacity: 1;
    transform: translateX(300px) skewX(-15deg);
    transition-property: opacity, transform;
  }
}
// END button cta animation //

.main {
	// &:after {
	// 	content: "";
	// 	position: absolute;
	// 	width: 100vw;
	// 	height: 300px;
	// 	background: rgb(0,0,0);
	// 	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 87%, rgba(0,0,0,0) 100%);
	// }
	section {
		> .title {
			margin: 0 auto 33px;
			width: calc(666px / 3.05);
			height: calc(124px / 3.05);
			// @include mq($max-width: $bp-2) {
			// 	width: calc(666px / 2.5);
			// 	height: calc(124px / 2.5);
			// }
			&:before {
				content: "";
				position: absolute;
			}
		}
		a.cta {
			display: inline-block;
			width: calc(600px / 2.5);
			height: calc(146px / 2.5);
			margin-top: 40px;
			margin-left: 0;
			transition: .15s;
			overflow: hidden;
			background: url(../img/title_intro_cta@2x.png) left center no-repeat;
			background-size: cover;
			@include mq($max-width: $bp-2) {
				width: calc(600px / 2);
				height: calc(146px / 2);
			}
			// &:before {
			// 	content: "";
			// 	position: absolute;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 100%;
			// }

			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;
				height: 100%;
				top: 0;
			}
			&:before {
				background: rgba(255, 255, 255, 0.5);
				width: 60px;
				left: 0;
				filter: blur(30px);
				animation: shine-alt1 #{$anim-duration}s ease-in-out infinite;
			}
			&:after {
				background: rgba(255, 255, 255, 0.2);
				width: 30px;
				left: 30px;
				filter: blur(5px);
				animation: shine-alt2 #{$anim-duration}s ease-in-out infinite;
			}
			&:hover {
				margin-left: 1%;
				&:before {
					animation-duration: #{$anim-duration / 2}s;
				}
				&:after {
					animation-duration: #{$anim-duration / 2}s;
				}
			}
		}

		&.kv {
			padding: 0;
			> img {
				width: 100%;
				visibility: hidden;
			}
		}

		&.intro {
			padding-top: 9px;
			padding-bottom: 91px;
			> .title {
				&:before {
					width: 100%;
					height: 100%;
					background: url(../img/title_intro@2x.png) left center no-repeat;
					background-size: contain;
				}
			}
			> .inner {
				text-align: center;
				> p {
					color: $color-white;
					line-height: normal;
					// letter-spacing: -1px;
					font-size: $fontsize-3;
					@include mq($max-width: $bp-2) {
						letter-spacing: -1px;
						font-size: $fontsize-4;
					}
				}
				> a.cta {
				}
			}
		}
		&.contents {
			padding-bottom: 113px;
			> .title {
				margin-bottom: 39px;
				&:before {
					width: 100%;
					height: 100%;
					background: url(../img/title_event@2x.png) left center no-repeat;
					background-size: contain;
				}
			}
			> .inner {
				.events {
					$scale_event: 2;
					[class^="event-"] {
						margin: 0 auto;
						margin-bottom: 77px;
						max-width: 800px;
						.text,
						.img {
							margin: 0 auto;
							&:before,
							&:after {
								content: "";
								position: absolute;
							}
						}
						.img {
							position: absolute;
						}
						@for $i from 1 through 4 {
							&.event-#{$i} {
								.text {
									&:before {
										width: 100%;
										height: 100%;
										background: url(../img/event_content_#{$i}@2x.png) left center no-repeat;
										background-size: cover;
									}
								}
								.img {
									&:before {
										width: 100%;
										height: 100%;
										background: url(../img/event_dec_#{$i}@2x.png) left center no-repeat;
										background-size: cover;
									}
								}
							}
						}
						$scale_text: 2.4;
						$scale_img: 3.1;
						&.event-1 {
							.text {
								width: calc(775px / $scale_text);
								height: calc(340px / $scale_text);
							}
							.img {
								top: -144px;
								right: 2px;
								width: calc(808px / $scale_img);
								height: calc(1138px / $scale_img);
								// @include mq($max-width: $bp-2) {
								// 	width: calc(808px / 3.3);
								// 	height: calc(1138px / 3.3);
								// }
							}
						}
						&.event-2 {
							.text {
								width: calc(911px / $scale_text);
								height: calc(420px / $scale_text);
							}
							.img {
								top: -113px;
								left: -14px;
								width: calc(890px / $scale_img);
								height: calc(952px / $scale_img);
								// @include mq($max-width: $bp-2) {
								// 	width: calc(890px / 3.3);
								// 	height: calc(952px / 3.3);
								// }
							}
						}
						&.event-3 {
							.text {
								width: calc(781px / $scale_text);
								height: calc(286px / $scale_text);
							}
							.img {
								top: -81px;
								right: 0;
								width: calc(622px / $scale_img);
								height: calc(854px / $scale_img);
								// @include mq($max-width: $bp-2) {
								// 	width: calc(622px / 3.3);
								// 	height: calc(854px / 3.3);
								// }
							}
						}
						&.event-4 {
							.text {
								width: calc(897px / $scale_text);
								height: calc(343px / $scale_text);
							}
							.img {
								top: -35px;
								left: 42px;
								width: calc(704px / $scale_img);
								height: calc(918px / $scale_img);
								// @include mq($max-width: $bp-2) {
								// 	width: calc(704px / 3.3);
								// 	height: calc(918px / 3.3);
								// }
							}
						}
					}
				}
			}
		}
		&.casts {
			padding-bottom: 74px;
			> .title {
				margin-bottom: 39px;
				&:before {
					width: 100%;
					height: 100%;
					background: url(../img/title_star@2x.png) left center no-repeat;
					background-size: contain;
				}
			}
			> .inner {
				.stars {
					max-width: 70%;
					margin: 0 auto;
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					grid-gap: 40px 0;
					@include mq($max-width: $bp-2) {
						max-width: 87%;
					}
					[class^="star-"] {
						margin: 0 auto;
						.avatar {
							margin: 0 auto;
							width: calc(800px / 3.5);
							height: calc(800px / 3.5);
							&:before,
							&:after {
								content: "";
								position: absolute;
							}
						}
						.name {
							margin-top: 20px;
							&:before,
							&:after {
								position: relative;
								display: block;
								line-height: normal;
								color: $color-white;
								text-align: center;
								margin-top: 3px;
							}
							&:before {
								content: attr(data-c);
								font-size: $fontsize-2;
								@include mq($max-width: $bp-2) {
									font-size: $fontsize-4;
								}
							}
							&:after {
								content: attr(data-e);
								font-size: $fontsize-c;
								@include mq($max-width: $bp-2) {
									font-size: $fontsize;
								}
							}
						}
						@for $i from 1 through 6 {
							&.star-#{$i} {
								.avatar {
									&:before {
										width: 100%;
										height: 100%;
										background: url(../img/star_#{$i}@2x.png) left top no-repeat;
										background-size: cover;
									}
								}
							}
						}
					}
				}
			}
		}
		&.location,
		&.hint {
			> .inner {
				max-width: 62%;
				@include mq($max-width: $bp-2) {
					max-width: 83%;
				}
			}
		}
		&.location {
			padding-bottom: 76px;
			> .title {
				margin-bottom: 52px;
				&:before {
					width: 100%;
					height: 100%;
					background: url(../img/title_location@2x.png) left center no-repeat;
					background-size: contain;
				}
			}
			> .inner {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				> .left {
					text-align: left;
					p {
						line-height: normal;
						letter-spacing: 1.2px;
						color: $color-white;
						margin-bottom: 5px;
						&:nth-child(1) {
							font-size: $fontsize-2;
							font-weight: 500;
							letter-spacing: 5.2px;
							@include mq($max-width: $bp-2) {
								font-size: $fontsize-3;
							}
						}
						&:nth-child(2),
						&:nth-child(3) {
							font-size: $fontsize-1;
							@include mq($max-width: $bp-2) {
								font-size: $fontsize-2;
							}
						}
						&:nth-child(2) {
							margin-bottom: 16px;
						}
						&:nth-child(3) {
							margin-bottom: 8.5px;
						}
						&:nth-child(4),
						&:nth-child(5),
						&:nth-child(6),
						&:nth-child(7) {
							font-size: $fontsize-a;
							margin-bottom: 10px;
							@include mq($max-width: $bp-2) {
								font-size: $fontsize + 1;
							}
						}
						&:nth-child(4),
						&:nth-child(6) {
							margin-left: -5px;
						}
						&:nth-child(5),
						&:nth-child(7) {
							margin-left: 10px;
						}
					}
				}
				> .right {
					margin-left: 20px;
					iframe {
						padding-left: 11px;
						padding-top: 5px;
					}
				}
			}
		}
		&.hint {
			> .title {
				width: calc(1356px / 3);
				&:before {
					width: 100%;
					height: 100%;
					background: url(../img/title_hint@2x.png) left center no-repeat;
					background-size: contain;
				}
			}
			> .inner {
				> p {
					color: $color-white;
					line-height: 30px;
					font-size: $fontsize-c;
					margin-bottom: 2px;
					@include mq($max-width: $bp-2) {
						font-size: $fontsize-1;
					}
				}
				> a.cta {
					// margin-top: 40px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}