/* =======================
   pages/about-exp
   ======================= */
.main {
	section.about-exp {
		.inner {
			ul {
				margin-top: 10px;
				li {
					margin-left: 10px;
					margin-bottom: 15px;
					display: flex;
					align-items: center;
					opacity: 1;
					border-bottom: 0;
					cursor: pointer;
					@include mq($max-width: $bp-2s) {
						padding-left: 25px;
					}
					.logo {
						width: 54px;
						height: 54px;
						border-radius: 10px;
						overflow: hidden;
						background: $color-white;
						border: 1px solid rgba($color-black, .05);
						transition: .2s;
						img {
							transition: 2s;
						}
					}
					.info {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						justify-content: center;
						margin-left: 5px;
						opacity: .78;
						transition: .2s .2s;
						.name,
						.title {
							padding: 0 5px;
						}
						.name {
							color: $color-second;
							color: nth($color-analogous, 1);
							font-weight: bold;
							i {
								margin-left: 5px;
								font-size: $fontsize-f;
								font-weight: bold;
								color: lighten(nth($color-analogous, 2), 35%);
								transform: scale(.9);
								transition: .2s;
								@include mq($min-width: $bp-2s) {
									&:hover {
										opacity: 1 !important;
									}
								}
							}
						}
						.title {
							overflow: hidden;
							&:after {
								content: "";
								background: lighten($color-third, 7%);
								position: absolute;
								z-index: -1;
								top: 0;
								left: -5%;
								width: 0;
								height: 100%;
								transition: .5s;
								transform: skewX(-25deg);
							}
							time {
								&:before {
									content: "|";
									padding: 0 5px;
									font-weight: 100;
								}
							}
						}
					}
					&:after {
						content: "\f105";
						display: inline-block;
						font-family: "Font Awesome 5 Pro";
						font-size: $fontsize-1;
						font-weight: bold;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						margin-left: 3%;
						transition: .35s .25s, color .25s .35s;
						transform: translateX(-100%);
						opacity: 0;
						color: nth($color-analogous, 3);
					}
					&.active {
						.logo {
							transform: scale(.78);
							filter: grayscale(1);
						}
						&:after {
							transform: scaleX(-1);
							color: $color-black;
						}
					}
					@include mq($min-width: $bp-2s) {
						&:hover {
							.logo {
								img {
									transform: scale(1.1);
								}
							}
							.info {
								opacity: 1;
								margin-left: 20px;
								.name {
									i {
										opacity: .5;
									}
								}
								.title {
									&:after {
										width: 56%;
									}
								}
							}
							&:after {
								transform: translateX(0);
								opacity: 1;
								color: $color-main;
							}
						}
					}
					@include mq($max-width: $bp-2s) {
						&:after {
							content: "\f330";
							position: absolute;
							left: 0;
							margin-left: 0;
							opacity: 1;
							transform: translateX(0);
							color: lighten($color-second, 20%);
							font-size: $fontsize-d;
						}

					}
				}
			}
		}
	}
}