/* =======================
   pages/aside
   ======================= */
aside#aside {
	position: fixed;
	display: block;
	right: 10px;
	top: 40%;
	z-index: 1000; // 確保在最上面
  @include mq($max-width: $bp-2s) {
		// 讓它「確實」貼齊底部與左右
		inset: auto 0 0 0; // 等同 bottom:0; left:0; right:0;（top 自動）
		right: auto; // 避免桌機設定殘留
		top: auto;
		width: 100vw; // 100% 有時受容器影響，改用視窗寬度更保險
		margin: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		box-shadow: 0 -4px 8px 0 rgba(0,0,0,.1);
		background: #fff; // 若需要
		// iOS 安全區（瀏海/底部 home bar）
		padding-bottom: env(safe-area-inset-bottom);

		// 有些舊裝置不支援 env()，加個保底
		@supports not (padding: max(0px)) {
		padding-bottom: 0;
		}
  	}
	a.aside_btn {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: $color-white;
		box-shadow: 7px 7px 14px 7px rgba(0, 0, 0, .1);
		text-align: center;
		width: 60px;
		min-height: 100px;
		padding: 7px 3px 18px;
		border-radius: 35px;
		border: 1px solid transparent;
		font-size: $fontsize-e;
		line-height: normal;
		color: #414141;
		@include mq($max-width: $bp-2s) {
			box-shadow: none;
			width: auto;
			border-radius: 0;
			flex-direction: row;
			min-height: 65px;
			padding: 7px 0;
			font-size: $fontsize-b;
		}
		p {
			span {
				display: block;
				font-weight: 600;
			}
			&._pc {
				@include mq($max-width: $bp-3s) {
					display: none;
				}
			}
			&._m {
				display: none;
				@include mq($max-width: $bp-3s) {
					display: block;
				}
			}
		}
		&:before {
			content: "";
			position: relative;
			display: block;
			left: 0;
			margin-bottom: 7px;
			width: calc(84px / 2);
			height: calc(84px / 2);
			@include mq($max-width: $bp-2s) {
				margin-bottom: 0;
				margin-right: 7px;
			}
		}
		&._fillup {
			margin-bottom: 15px;
			@include mq($max-width: $bp-2s) {
				margin-bottom: 0;
			}
			&:before {
				background: url(../img/icon-fillup@2x.png) center top no-repeat;
				background-size: cover;
			}
			@include mq($max-width: $bp-2s) {
				&:after {
					content: "";
					margin: 0 auto;
					position: absolute;
					height: 50%;
					background: #E3E3E3;
					width: 1px;
					right: 0;
				}
			}
		}
		&._line {
			&:before {
				background: url(../img/icon-line@2x.png) center top no-repeat;
				background-size: cover;
			}
		}
		&:hover {
			border: 1px solid rgba(#414141, .2);
			@include mq($max-width: $bp-2s) {
				border: 0;
			}
		}
	}
}