/* =======================
   pages/common
   ======================= */
%layout-title { // @extend %layout-title;
	&:after {
		content: "";
		display: block;
		max-width: 80px;
		width: 100%;
		height: 2px;
		background: linear-gradient(90deg, $color-second 0%, $color-main 100%);
		// background: $color-main;
		margin: 21px auto;
	}
}
%main-title { // @extend %main-title;
	display: block;
	font-size: $fontsize-5;
	font-weight: 500;
	@extend %layout-title;
}

//

.main {
	overflow: hidden;
	&:after {
		content: "";
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 77vw;
		background: url(../img/mask_b@2x.png) center top no-repeat;
		background-size: cover;
	}
	section {
		width: 100%;
		height: 100%;
		min-width: 100vw;
		// min-height: 100vh;
		padding: 55px 0;
		@include mq($max-width: $bp-2m) {
			padding: 35px 0;
		}
		.inner {
			width: $bp-2;
			max-width: 93%;
			margin: 0 auto;
			// padding: 0 15px;
			@include mq($max-width: $bp-2s) {
				max-width: 90%;
			}
			> .title,
			> .description {
				line-height: normal; // $fontsize-8
				text-align: center;
			}
			> .title {
				@extend %main-title;
			}
			> .description {
				font-size: $fontsize-2;
			}
			> .box {
				border-radius: 16px;
				margin: 50px auto;
				overflow: hidden;
				background: $color-white;
			}
		}
		&.fullwidth {
			.inner {
				width: 100% !important;
				max-width: 100% !important;
			}
		}
	}
	span {
		&.highlight_red {
			color: $color-main;
			font-weight: 500;
		}
		&.highlight_bg {
			display: inline-block;
			padding: 0 3px;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: -1.5px;
				display: block;
				background: rgba($color-main, .1);
				width: 100%;
				height: 56%;
			}
		}
	}
	.layout-btn {
		margin: 30px 0 0;
		display: inline-block;
		a {
			display: block;
			padding: 15px 25px;
			background: $color-main;
			color: $color-white;
			border-radius: 9px;
			font-size: $fontsize-1;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: .2s;
			@include mq($max-width: $bp-2s) {
				padding: 16px 28px;
			}
			&:after {
				content: "";
				display: inline-block;
				position: relative;
				margin-left: 5px;
				left: 0;
				width: calc(56px / 2.5);
				height: calc(56px / 2.5);
				background: url(../img/icon-arrow_r@2x.png) left top no-repeat;
				background-size: cover;
				transition: .2s;
			}
		}
		&:hover {
			a {
				padding: 15px 30px;
				&:after {
					left: 5px;
				}
			}
		}
	}
}
body {
	background: #F7F7F7;
	overflow-x: hidden;
	scroll-behavior: smooth;
	&.no-scroll {
		overflow: hidden;
		// position: fixed;
		width: 100%;
	}
	&.on-popup {
		.popup {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 99;
			display: grid;
			place-items: center;
			height: 100vh;
			width: 100vw;
			&_cover {
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, .7);
				width: 100vw;
				height: 100vh;
			}
			&_inner {
				background: $color-white;
				width: 84vw;
				height: 45vw;
				max-height: 260px;
				max-width: 400px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border-radius: 16px;
				overflow: hidden;
				@include mq($max-width: $bp-2s) {
					height: 63vw;
				}
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					border-top: 6px solid;
					border-image-source: linear-gradient(90deg, #FF787F 0%, #C9151E 100%);
					border-image-slice: 1; /* Specifies how the border image is sliced */
				}
				._q {
					font-size: $fontsize-2;
					line-height: normal;
					font-weight: 500;
					color: rgba(46, 46, 46, 1);
					margin-bottom: 40px;
					@include mq($max-width: $bp-2s) {
						margin-bottom: 20px;
					}
					span {
						color: $color-main;
						font-weight: 500;
					}
				}
				._a {
					font-size: $fontsize-1;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					@include mq($max-width: $bp-2s) {
						flex-direction: column;
					}
					&-n,
					&-y {
						border-radius: 8px;
						padding: 9px 16px;
						transition: opacity 0.2s, transform 0.2s;
						@include mq($max-width: $bp-2s) {
							padding: 11px;
							width: 63%;
						}
						&:hover {
							cursor: pointer;
							opacity: .9;
							transform: translateX(5px);
						}
						> a {
							display: flex;
							align-items: center;
							justify-content: center;
							color: inherit;
							&:before {
								content: "";
								display: block;
								position: relative;
								top: 0;
								left: 0;
								margin-right: 5px;
							}
						}
					}
					&-n {
						border: 1px solid rgba(102, 102, 102, 1);
						color: rgba(102, 102, 102, 1);
						a {
							&:before {
								width: calc(30px / 2.3);
								height: calc(30px / 2.3);
								background: url(../img/icon-no@2x.png) left top no-repeat;
								background-size: cover;
							}
						}
					}
					&-y {
						background: $color-main;
						border: 1px solid $color-main;
						color: $color-white;
						margin-left: 20px;
						@include mq($max-width: $bp-2s) {
							margin-left: 0;
							margin-top: 10px;
						}
						a {
							&:before {
								width: calc(38px / 2.3);
								height: calc(28px / 2.3);
								background: url(../img/icon-yes@2x.png) left top no-repeat;
								background-size: cover;
							}
						}
					}
				}
			}
		}
	}
}
// .slick-dots {
// 	margin-top: 20px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	li {
// 		margin: 0 5px;
// 		button {
// 			text-indent: -999999px;
// 			background: rgba($color-black, .25);
// 			width: 9px;
// 			height: 9px;
// 			border-radius: 50%;
// 		}
// 		&.slick-active {
// 			button {
// 				background: rgba($color-black, .5);
// 			}
// 		}
// 	}
// }