/* =======================
   pages/_guide
   ======================= */
.main {
	section._guide {
		> .inner {
			> .box {
				@include mq($max-width: $bp-2m) {
					margin-bottom: 0;
				}
				.clist {
					padding: 40px 50px;
					@include mq($max-width: $bp-2m) {
						padding: 40px 30px;
					}
					@include mq($max-width: $bp-2s) {
						padding: 35px 25px;
					}
					&-item {
						line-height: normal;
						margin-top: 25px;
						&:first-child {
							margin-top: 0;
						}
						&-title {
							display: inline-block;
							font-size: calc($fontsize-2 - 1px);
							@extend %layout-title;
							&:after {
								margin: 7px auto;
							}
						}
						&-content {
							padding: 15px 0;
							font-size: calc($fontsize-1 - 2px);
							color: #666666;
							line-height: 28px;
							ul {
								li {
									list-style-type: disc;
									margin-left: 1.4em;
									padding-left: .1em;
									// text-align: justify;
								}
							}
							.layout-btn {
								width: 100%;
								text-align: center;
								a {
									display: inline-flex;
									padding: 9px 24px;
									font-size: calc($fontsize-1 - 2.5px);
									&:after {
										width: calc(56px / 3.3);
										height: calc(56px / 3.3);
									}
									@include mq($max-width: $bp-3s) {
										padding: 16px 28px;
										font-size: $fontsize-1;
									}
								}
							}
							.steps {
								&-a,
								&-b {
									display: grid;
									width: 100%;
									grid-gap: 30px;
									@include mq($max-width: $bp-2m) {
										grid-gap: 20px;
									}
									img {
										display: block;
										width: 100%;
										&.img {
											@include mq($max-width: $bp-3s) {
												display: none;
											}
										}
										&.img-m {
											display: none;
											@include mq($max-width: $bp-3s) {
												display: block;
											}
										}
									}
								}
								&-a {
									grid-template-columns: 1fr 1fr 1fr 1fr;
									grid-column-gap: 30px;
									@include mq($max-width: $bp-2m) {
										grid-template-columns: 1fr 1fr;
									}
									@include mq($max-width: $bp-3s) {
										grid-template-columns: 1fr;
									}
								}
								&-b {
									margin: 30px auto 0;
									grid-template-columns: 1fr;
									// width: 100%;
									// overflow: hidden;
									// &-1,
									// &-2,
									// &-3,
									// &-4 {
									// 	display: block;
									// 	margin-bottom: 20px;
									// 	width: calc(1760px / 2);
									// 	height: calc(821px / 2);
									// 	// aspect-ratio: 1800 / 840;
									// 	// width: 63vw;
									// 	// height: 29.4vw
									// 	@include mq($max-width: 1055px) {
									// 		max-width: 100%;
									// 		max-height: 38.75vw;
									// 	}
									// 	@include mq($max-width: $bp-2m) {
									// 		max-width: 100%;
									// 		max-height: none;
									// 	}
									// 	&:before {
									// 		content: "";
									// 		position: absolute;
									// 		top: 0;
									// 		left: 0;
									// 		width: 100%;
									// 		height: 100%;
									// 	}
									// }
									// &-1 {
									// 	@include mq($max-width: $bp-2m) {
									// 		height: 203.5vw;
									// 	}
									// 	&:before {
									// 		background: url(../img/step-b-1@2x.png) left top no-repeat;
									// 		background-size: cover;
									// 		@include mq($max-width: $bp-2m) {
									// 			background: url(../img/step-b-1-m@2x.png) left top no-repeat;
									// 			background-size: cover;
									// 		}
									// 	}
									// }
									// &-2 {
									// 	@include mq($max-width: $bp-2m) {
									// 		height: 248vw;
									// 	}
									// 	&:before {
									// 		background: url(../img/step-b-2@2x.png) left top no-repeat;
									// 		background-size: cover;
									// 		@include mq($max-width: $bp-2m) {
									// 			background: url(../img/step-b-2-m@2x.png) left top no-repeat;
									// 			background-size: cover;
									// 		}
									// 	}
									// }
									// &-3 {
									// 	@include mq($max-width: $bp-2m) {
									// 		height: 212.5vw;
									// 	}
									// 	&:before {
									// 		background: url(../img/step-b-3@2x.png) left top no-repeat;
									// 		background-size: cover;
									// 		@include mq($max-width: $bp-2m) {
									// 			background: url(../img/step-b-3-m@2x.png) left top no-repeat;
									// 			background-size: cover;
									// 		}
									// 	}
									// }
									// &-4 {
									// 	@include mq($max-width: $bp-2m) {
									// 		height: 204vw;
									// 	}
									// 	&:before {
									// 		background: url(../img/step-b-4@2x.png) left top no-repeat;
									// 		background-size: cover;
									// 		@include mq($max-width: $bp-2m) {
									// 			background: url(../img/step-b-4-m@2x.png) left top no-repeat;
									// 			background-size: cover;
									// 		}
									// 	}
									// }
								}
							}
						}
						.video-wrapper {
							width: 100%;
							aspect-ratio: 16 / 9;  /* ⬅️ 自動維持 16:9 高度 */
							overflow: hidden;
							position: relative;
							iframe {
								width: 100%;
								height: 100%;
								border: 0;
								display: block;
							}
						}
						.invoice_rule {
							margin: 20px auto;
							img {
								display: block;
								width: 100%;
								max-width: 490px;
								&.img {
									@include mq($max-width: $bp-3s) {
										display: none;
									}
								}
								&.img-m {
									display: none;
									@include mq($max-width: $bp-3s) {
										display: block;
									}
								}
							}
						}
						&._notice {
							.clist-item-content {
								ul {
									li {
										span {
											font-weight: 500;
										}
										&:nth-child(5),
										&:nth-child(6),
										&:nth-child(7),
										&:nth-child(8) {
											margin-left: 2.8em;
										}
									}
								}
							}
						}
						&._deny {
							.clist-item-title {
								&:after {
									max-width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}