/* =======================
layout/_footer
======================= */
footer.footer {
	width: 100%;
	z-index: 99;
	.copyright {
		width: 100%;
		background: $color-black;
		font-size: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color-white;
		padding: 15px 0;
		box-sizing: border-box;
		img {
			height: 33px;
			margin: 0 0 0 4px;
			@include mq($max-width: $bp-2s) {
				margin: -9px auto;
			}
		}
		@include mq($max-width: $bp-2s) {
			flex-direction: column;
			padding: 10px 0;
			span:nth-child(2) {
				margin: 7px 0;
			}
		}
	}
}