/* =======================
layout/footer
======================= */
footer.footer {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
	@include mq($max-width: $bp-2s) {
		margin-bottom: 50px;
	}
	section {
		line-height: normal;
		&.copyright {
			text-align: center;
			font-weight: 500;
		}
	}
}