/* =======================
layout/_footer
======================= */
footer.footer {
	width: 100%;
	.copyright {
		width: 100%;
		background: rgba($color-white, .15);
		font-size: $fontsize-d;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color-black;
		box-sizing: border-box;
		padding: 9px 0;
		span,
		a {
			font-size: inherit;
		}
	}
}