/* =======================
layout/_header
======================= */
header.header {
	.inner {
		padding: 5px;
		.datetime {
			letter-spacing: .5px;
			text-align: center;
			line-height: normal;
		}
	}
}