/* =======================
layout/_header
======================= */
header.header {
	width: 100%;
	.datetime {
		font-size: $fontsize-d;
		letter-spacing: .5px;
		text-align: center;
		line-height: normal;
	}
}