/* =======================
   pages/product
   ======================= */
.main {
	section._product {
		padding: 0;
		margin-bottom: 10px;
		position: relative;
		width: 100%;
		height: 31.2vw;
		// @include mq($max-width: $bp-3l) {
		// 	margin-bottom: 37vw;
		// }
		@include mq($max-width: $bp-l) {
			height: 272vw;
		}
		&:before {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(../img/product_details@2x.webp) left top no-repeat;
			background-size: cover;
			@include mq($max-width: $bp-3l) {
				background-size: 110%;
				background-position: center center;
			}
			@include mq($max-width: $bp-2l) {
				background-size: 115%;
				background-position: center center;
			}
			@include mq($max-width: $bp-l) {
				background: url(../img/product_details_m@2x.webp) left top no-repeat;
				background-size: cover;
			}
		}

		/*
		.inner {
			> .content {
				width: 38vw;
				max-width: 600px;
				position: absolute;
				top: 1.5vw;
				left: 41vw;
				border: 2px solid $color-main;
				// padding: 30px 40px 15px 50px;
				padding: 2vw 1vw 1.2vw 2vw;
				background: rgba(0, 0, 0, .56);
				color: $color-main;
				@include mq($max-width: $bp-3l) {
					margin-top: 31.2vw;
					position: relative;
		        	left: 0;
        			top: 25px;
				}
				@include mq($max-width: $bp-2l) {
				}
				.p-name {
					@include text_lineargradient-1;
					font-size: $fontsize-2;
					letter-spacing: 5px;
					font-weight: 400;
				}
				.p-label {
					font-size: $fontsize-b;
					letter-spacing: 1.5em;
					margin: 15px 0;
					color: #EDE1A4;
				}
				.p-img {
					width: 90%;
					max-width: 350px;
					margin: 15px auto;
					img {
						display: block;
						width: 100%;
					}
				}
				.p-info {

				}
				.p-info-item {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					> div {
						margin: 3.5px 0;
						letter-spacing: 1px;
						font-size: $fontsize-b;
						font-weight: 400;
						&:nth-child(1) {
							padding: 5px;
							width: 100%;
							max-width: 85px;
							text-align: center;
							background: $color-black;
							color: $color-white;
						}
						&:nth-child(2) {
							@include text_lineargradient-3;
							margin-left: 15px;
							text-align: left;
							letter-spacing: -.5px;
						}
					}
				}
			}
		}
		*/
	}
}