/* =======================
   pages/form-style
   ======================= */
#thetitle.position-side {
   top: 7vw;
}
section.theform {
   min-height: 100vh;
   padding-top: 135px;
   @include mq($max-width: $bp-mobile) {
      padding-top: 12%;
   }
   @include mq($max-width: $bp_m) {
      // padding-top: 15%;
   }
   @include mq($max-width: $bp_2s) {
      padding-top: 15%;
   }
   .inner {
      width: 80%;
      height: auto;
      background: #f2e1c6;
      margin-left: 20%;
      padding: 20px 30px;
      @include mq($max-width: $bp_m) {
         padding: 15px;
      }
      @include mq($max-width: $bp_2s) {
         padding: 10px;
      }
      form.form-style {
         width: 100%;
         height: auto;
         color: $color-main;
         line-height: normal;
         .form-title:nth-child(1) {
            display: flex;
            align-items: center;
            > label {
               white-space: nowrap;
            }
            #filed-title {
               width: 100%;
               border: 0;
               border-radius: 5px;
               background: $color-white;
               line-height: normal;
               margin-left: 5px;
               padding: 5px 9px 3px;
               font-size: $fontsize;
               line-height: normal;
            }
         }
         .group {
            margin-bottom: 10px;
            ul {
               // grid-template-columns: 1fr;
               max-width: calc((100% - 30px) / 1.5);
               @include mq($max-width: $bp_2s) {
                  max-width: 100%;
               }
               li {
                  display: flex;
                  margin-bottom: 10px;
               }
            }
            &.with-2in1 {
               ul {
                  max-width: 100%;
                  grid-gap: 0 30px;
                  grid-template-columns: calc((100% - 30px) /2) auto;
                  @include mq($max-width: $bp_m) {
                     grid-gap: 0 12px;
                     grid-template-columns: calc((100% - 12px) /2) auto;
                  }
               }
            }
            &.with-3in1 {
               ul {
                  max-width: 100%;
                  grid-gap: 0 15px;
                  grid-template-columns: calc((100% - 30px) /3) calc((100% - 30px) /3) auto;
                  @include mq($max-width: $bp_m) {
                     grid-gap: 0 12px;
                     grid-template-columns: calc((100% - 12px) /2) auto;
                  }
               }
            }
            &.with-photo {
               ul {
                  li {
                     > div {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        label {
                           display: inline-block;
                        }
                        .photo-box {
                           position: relative;
                           // max-width: calc(100% / 3);
                           width: 100%;
                           height: 150px;
                           background: $color-white;
                           border-radius: 5px;
                           overflow: hidden;
                           img {
                              height: 100%;
                              width: auto;
                           }
                           &[data-photo="1"] {
                              background: transparent;
                           }
                           label {
                              display: inline-block;
                              position: absolute;
                              top: 50%;
                              left: 50%;
                              font-size: $fontsize;
                              transform: translate(-50%, -50%);
                              white-space: nowrap;
                              @include mq($max-width: $bp_2s) {
                                 font-size: $fontsize-a;
                                 padding: 3px 20px;
                              }
                              &:hover {
                                 transform: translate(-50%, -50%) scale(.93);
                              }
                           }
                        }
                        &:nth-child(1) {
                        }
                        &:nth-child(2) {
                           label {
                              display: flex;
                              justify-content: flex-start;
                              align-items: center;
                           }
                        }
                     }
                  }
               }
            }
         }
         ul {
            display: grid;
            li {
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               justify-content: center;
               margin-bottom: 5px;
               &.no-column {
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
               }
               input {
                  width: 100%;
                  border: 0;
                  border-radius: 5px;
                  background: $color-white;
                  line-height: normal;
                  padding: 5px 9px 3px;
                  font-size: $fontsize;
                  line-height: normal;
                  &[type="radio"] {
                     width: inherit;
                     & + span {
                        display: inline-block;
                     }
                  }
                  & + input {
                     margin-top: 5px;
                  }
               }
               button {
                  & + button{
                     margin-top: 10px;
                  }
               }
               label {
                  display: flex;
                  align-items: flex-start;
                  justify-content: center;
                  &.filed-inword {
                     input {
                        width: 50px;
                        margin: 0 5px;
                     }
                  }
               }
            }
         }
         .form-title {
            font-size: $fontsize-2;
            margin-bottom: 9px;
            font-weight: 500;
         }
         .form-description {
            font-size: $fontsize-b;
            margin-bottom: 9px;
         }
         > [class^="form-"] {
            margin-top: 30px;
            &:first-child {
               margin-top: 0;
            }
         }
         .form-basic {

         }
         .form-data {

         }
         .form-photo {

         }
         .form-btns {
            button {
               background: lighten($color-main, 7%);
               color: $color-white;
               font-size: $fontsize-1;
            }
            ul {
               li {
                  &.theform_is_edit {
                     display: none;
                     visibility: hidden;
                  }
               }
            }
         }
      }
   }
}

body[data-status="form"][data-form="edit"] {
   #theform_is_new {
      display: none;
      visibility: hidden;
   }
   #theform_is_edit {
      display: block;
      visibility: visible;
   }
}
body[data-status="view"] {
   section.theform {
      .inner form.form-style {
         input, label {
            pointer-events: none;
         }
         .group.with-photo {
            input[type="file"],
            label.btn-style {
               display: none;
            }
            // ul li > div {
            //    flex-direction: row;
            // }
            .photo-box {
               position: relative;
               width: 100%;
               height: 150px;
               background: $color-white;
               border-radius: 5px;
               img {
                  height: 100%;
                  width: auto;
               }
               &[data-photo="1"] {
                  background: transparent;
               }
            }
            .swiper-pagination {
               bottom: -20px;
            }
         }
         .form-btns {
            display: none;
         }
      }
   }
}