/* =======================
   pages/common
   ======================= */
.main {
	overflow: hidden;
	h1 {
		margin-top: 5vw;
		font-size: $fontsize-9 * 1.5;
		text-align: center;
		color: $color-font;
		font-weight: bold;
		@include mq($max-width: $bp-3s) {
			font-size: $fontsize-9 * 1.2;
			letter-spacing: -2px;
		}
	}
	section {
		width: 100%;
		height: 100%;
		// min-width: 100vw;
		max-width: 90%;
		// min-height: 100vh;
		padding: 35px 0;
		margin: 0 auto;
		.inner {
			max-width: $bp-2;
			margin: 0 auto;
			h2.title {
				// display: block;
				margin-bottom: 15px;
				font-size: $fontsize-3;
				text-align: left;
				line-height: normal;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				@include mq($max-width: $bp-3s) {
					margin-bottom: 10px;
				}
				label {
					font-weight: bold;
					background: $color-black;
					color: $color-white;
					border-radius: 9px;
					padding: 0 9px 4px;
					margin-right: 9px;
				}
			}
		}
		&.fullwidth {
			.inner {
				width: 100% !important;
				max-width: 100% !important;
			}
		}
	}
}
body {
	background: $color-white;
	overflow-x: hidden;
	scroll-behavior: smooth;
	&.disableScroll {
		// position: fixed;
		overflow: hidden;
	}
}