/* =======================
   pages/main
   ======================= */
$borderR: 9px;
.main {
	font-family: "Oswald";
	._1_form {
		padding-bottom: 0;
		.inner {
			ul {
				max-width: 100%;
				margin: 0 auto;
				li {
					line-height: normal;
					margin-bottom: 10px;
					display: grid;
					align-items: center;
					justify-content: center;
					grid-template-columns: 100px calc(100% - 100px);
					font-size: $fontsize-1;
					@include mq($max-width: $bp-3s) {
						grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
					}
					label {
						font-size: inherit;
						font-weight: bold;
						letter-spacing: 1px;
						@include mq($max-width: $bp-3s) {
							font-size: $fontsize-2;
							letter-spacing: 0;
						}
					}
					input {
						width: 100%;
						min-width: 100%;
						color: $color-font2;
						font-size: inherit;
						line-height: normal;
						padding: 10px 12px;
						border-radius: $borderR;
						border: 1px solid rgba($color-black, .3);
						-webkit-appearance: none;
						-moz-appearance: none;
						&:focus {
							padding: 9px 11px;
							border-width: 2px;
							border-color: $color-black;
						}
					}
				}
			}
		}
	}
	._2_result {
		.inner {
			.buttons {
				display: grid;
				align-items: center;
				grid-template-columns: repeat(4, auto);
				grid-gap: 15px;
				@include mq($max-width: $bp-3s) {
					grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
				}
				a,
				button {
					text-align: center;
					font-family: "Oswald";
					padding: 0 17px 3px;
					display: inline-block;
					font-size: $fontsize-5;
					line-height: $fontsize-5 * 1.567;
					border-bottom: 1px dashed rgba($color-black, .5);
					border: 1px solid rgba($color-black, .5);
					border-right-width: 3px;
					border-bottom-width: 3px;
					border-right-color: rgba($color-black, .87);
					border-bottom-color: rgba($color-black, .87);
					border-radius: $borderR;
					transition: .1s;
					color: $color-font;
					letter-spacing: -.5px;
					&:hover {
						padding: 0 15px 2px 17px;
						border-right-width: 5px;
						border-bottom-width: 4px;
						border-color: rgba($color-black, .5);
						transform: translate(-2px, -1px);
					}
				}
			}
		}
	}
}