/* =======================
layout/_footer
======================= */
footer.footer {
	width: 100%;
	.copyright {
		position: fixed;
		bottom: 7px;
		left: 0;
		width: 100%;
		background: transparent;
		font-size: $fontsize-c;
		color: $color-white;
		box-sizing: border-box;
		text-align: center;
		span {
			font-size: inherit;
			line-height: normal;
		}
	}
}