section.protection {
    position: relative;
    background: #f8f8f8;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
section.protection .prot-checkbox {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 65px;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
section.protection .prot-checkbox:checked ~ .prot-heading span {
    transform: translate(10px) rotate(180deg);
}
section.protection .prot-checkbox:checked ~ .prot-content {
    height: 200px;
    padding-right: 10px;
    margin: 20px auto;
    overflow-y: scroll;
}
section.protection .prot-heading {
    width: 100%;
    height: 65px;
    background-color: #ececec;
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.protection .prot-heading span {
    display: block;
    padding-left: 10px;
    transform-origin: center;
    transition: transform 0.2s;
}
section.protection .prot-heading span img {
    display: block;
}
section.protection .prot-content {
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
    height: 0;
    transition: height 0.4s;
    color: #9a9a9a;
    font-size: 12px;
    overflow-y: hidden;
}
section.protection .prot-content p {
    color: inherit;
    font-size: inherit;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0.35px;
    text-align: justify;
}
section.protection .prot-content::-webkit-scrollbar {
    display: block !important;
    width: 6px;
    background-color: #f8f8f8 !important;
}
section.protection .prot-content::-webkit-scrollbar-thumb {
    background-color: #5bc2dc;
    border-radius: 10px;
}
section.protection .prot-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
}