/* =======================
   pages/form-style
   ======================= */
#thetitle.position-side {
   top: 7vw;
}
section.theform {
   min-height: 100vh;
   padding-top: 135px;
   @include mq($max-width: $bp-mobile) {
      padding-top: 12%;
   }
   @include mq($max-width: $bp_m) {
      // padding-top: 15%;
   }
   @include mq($max-width: $bp_2s) {
      padding-top: 15%;
   }
   .inner {
      width: 80%;
      height: auto;
      background: #f2e1c6;
      margin-left: 20%;
      padding: 20px 30px;
      @include mq($max-width: $bp-mobile) {
         width: 100%;
         margin-left: 0;
      }
      @include mq($max-width: $bp_m) {
         padding: 15px;
      }
      @include mq($max-width: $bp_2s) {
         padding: 10px;
      }
      form.form-style {
         width: 100%;
         height: auto;
         color: $color-main;
         line-height: normal;
         .form-title:nth-child(1) {
            display: flex;
            align-items: center;
            @include mq($max-width: $bp-mobile) {
               display: block;
            }
            > label {
               white-space: nowrap;
            }
            #filed-title {
               width: 100%;
               border: 0;
               border-radius: 5px;
               background: $color-white;
               line-height: normal;
               margin-left: 5px;
               padding: 5px 9px 3px;
               font-size: $fontsize;
               line-height: normal;
            }
         }
         .group {
            margin-bottom: 10px;
            // > ul {
            //    li {
            //       display: flex;
            //       margin-bottom: 10px;
            //    }
            // }
            > ul {
               display: grid;
               // grid-template-columns: 1fr;
               max-width: calc((100% - 30px) / 1.5);
               @include mq($max-width: $bp_2s) {
                  max-width: 100%;
               }
               li {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: center;
                  margin-bottom: 10px;
                  > span.select2 {
                     min-width: 100%;
                     @include mq($max-width: $bp-mobile) {
                        font-size: $fontsize-5 !important;
                     }
                  }
                  &.no-column {
                     flex-direction: row;
                     align-items: center;
                     justify-content: flex-start;
                  }
                  input, select {
                     width: 100%;
                     border: 0;
                     border-radius: 5px;
                     background: $color-white;
                     line-height: normal;
                     padding: 5px 9px 3px;
                     font-size: $fontsize;
                     line-height: normal;

                     &[type="radio"] {
                        width: inherit;
                        & + span {
                           display: inline-block;
                        }
                     }
                     & + input {
                        margin-top: 5px;
                     }
                     &[name="status"],
                     &[name="is_public"] {
                        width: auto;
                     }
                  }
                  button {
                     & + button{
                        margin-top: 10px;
                     }
                  }
                  label {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     // &.filed-inword {
                     //    input {
                     //       width: 50px;
                     //       margin: 0 5px;
                     //    }
                     // }
                  }
               }
            }
            &.with-1in1 {
               > ul {
                  max-width: 100%;
                  label {
                     white-space: nowrap;
                     input {
                        margin: 0 5px;
                        width: 3em;
                     }
                  }
               }
            }
            &.with-2in1 {
               > ul {
                  max-width: 100%;
                  grid-gap: 0 30px;
                  grid-template-columns: calc((100% - 30px)/2) calc((100% - 30px)/2);
                  @include mq($max-width: $bp_m) {
                     grid-gap: 0 12px;
                     grid-template-columns: calc((100% - 12px)/2) calc((100% - 12px)/2);
                  }
                  @include mq($max-width: $bp-mobile) {
                     grid-gap: 0;
                     grid-template-columns: 100%;
                  }
               }
            }
            &.with-3in1 {
               > ul {
                  max-width: 100%;
                  grid-gap: 0 15px;
                  grid-template-columns: calc((100% - 30px) /3) calc((100% - 30px) /3) auto;
                  @include mq($max-width: $bp_m) {
                     grid-gap: 0 12px;
                     grid-template-columns: calc((100% - 12px)/2) calc((100% - 12px)/2);
                  }
                  @include mq($max-width: $bp-mobile) {
                     grid-gap: 0;
                     grid-template-columns: 100%;
                  }
               }
            }
            &.with-photo {
               > ul {
                  li {
                     > div {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        label {
                           display: inline-block;
                        }
                        .photo-box {
                           position: relative;
                           // max-width: calc(100% / 3);
                           width: 100%;
                           height: 150px;
                           background: $color-white;
                           border-radius: 5px;
                           overflow: hidden;
                           > .pics_btns {
                              display: inline-block;
                              position: absolute;
                              top: 50%;
                              left: 50%;
                              transform: translate(-50%, -50%);
                              label {
                                 position: relative;
                                 display: inline-block;
                                 font-size: $fontsize;
                                 white-space: nowrap;
                                 margin: 5px 0;
                                 @include mq($max-width: $bp_2s) {
                                    font-size: $fontsize-a;
                                    padding: 3px 20px;
                                 }
                                 &:before {
                                    display: block;
                                    font-size: inherit;
                                    color: inherit;
                                 }
                                 &:hover {
                                    transform: scale(.93);
                                 }
                                 &[class~="btn-pic-update"] {
                                    display: none;
                                    &:before {
                                       content: "更新時間";
                                    }
                                 }
                                 &[class~="btn-pic-choice"] {
                                    &:before {
                                       content: "選取照片";
                                    }
                                 }
                                 &[class~="btn-pic-upload"] {
                                    display: none;
                                    &:before {
                                       content: "上傳照片";
                                    }
                                 }
                                 &[class~="btn-pic-delete"] {
                                    background: #ccc;
                                    display: none;
                                    &:before {
                                       content: "刪除照片";
                                    }
                                 }
                              }
                           }
                           img {
                              height: 100%;
                              width: auto;
                              margin: 0 auto;
                              &[data-pics-id]:not([src=""]) + .pics_btns  {
                                 top: auto;
                                 left: auto;
                                 bottom: 0;
                                 right: 0;
                                 transform: none;
                                 width: 100%;
                                 display: flex;
                                 align-items: center;
                                 justify-content: space-between;
                                 label.btn-style {
                                    padding: 2px 7px;
                                    margin: 5px;
                                    font-size: $fontsize-d;
                                    @include mq($max-width: $bp-mobile) {
                                       font-size: $fontsize-a;
                                    }
                                 }
                              }
                           }
                           &[data-photo="1"] {
                              background: transparent;
                           }
                        }
                        &:nth-child(1) {
                        }
                        &:nth-child(2) {
                           label {
                              display: flex;
                              justify-content: flex-start;
                              align-items: center;
                           }
                        }
                     }
                  }
               }
            }
         }
         .form-title {
            font-size: $fontsize-2;
            margin-bottom: 9px;
            font-weight: 500;
         }
         .form-description {
            font-size: $fontsize-b;
            margin-bottom: 9px;
         }
         > [class^="form-"] {
            margin-top: 30px;
            &:first-child {
               margin-top: 0;
            }
         }
         .form-basic {

         }
         .form-data {

         }
         .form-photo {

         }
         .form-status {
            select {
               font-size: $fontsize;
               padding: 3px;
               border-radius: 5px;
               + span.select2 {
                  min-width: 7em !important;
                  max-width: 7em !important;
               }
            }
         }
         .form-btns {
            button {
               background: lighten($color-main, 7%);
               color: $color-white;
               font-size: $fontsize-1;
            }
            ul {
               li {
                  &.theform_is_edit {
                     display: none;
                     visibility: hidden;
                  }
               }
            }
         }
      }
   }
   label[required] {
      &:before {
         content: "*";
         color: red;
         display: inline-flex;
      }
   }
}

body[data-status="form"][data-form="edit"] {
   #theform_is_new {
      display: none;
      visibility: hidden;
   }
   #theform_is_edit {
      display: block;
      visibility: visible;
   }
}
body[data-status="view"] {
   section.theform {
      .inner form.form-style {
         input, label {
            pointer-events: none;
         }
         .group.with-photo {
            input[type="file"],
            label.btn-style {
               display: none;
            }
            // ul li > div {
            //    flex-direction: row;
            // }
            .photo-box {
               position: relative;
               width: 100%;
               height: 180px;
               background: $color-white;
               border-radius: 5px;
               img {
                  height: 100%;
                  width: auto;
                  margin: 0 auto;
               }
               // &[data-photo="1"] {
               //    background: transparent;
               // }
            }
            .swiper-pagination {
               bottom: -20px;
            }
         }
         .form-btns {
            display: none;
         }
      }
   }
}


// body[data-position="cleanriver"] {
body {
   section.theform {
      .inner {
         form.form-style {
            .group.with-photo {
               ul li {
                  // .photo-box {
                  //    > .pics_btns label[class~="btn-pic-upload"] {
                  //       &:before {
                  //          content: "選取照片";
                  //       }
                  //    }
                  // }
                  &[data-img-status="preview"] {
                     .photo-box {
                        > .pics_btns {
                           top: auto;
                           left: auto;
                           bottom: 0;
                           right: 0;
                           transform: none;
                           width: 100%;
                           display: flex;
                           align-items: center;
                           justify-content: space-between;
                           label[class~="btn-pic-choice"],
                           label[class~="btn-pic-upload"] {
                              padding: 2px 7px;
                              margin: 5px;
                              font-size: $fontsize-d;
                           }
                           label[class~="btn-pic-choice"]:before {
                              content: "重新選取照片";
                           }
                           label[class~="btn-pic-upload"] {
                              display: block;
                              background: #ed3939;
                              color: $color-white;
                           }
                        }
                     }
                  }
                  &[data-img-status="uploaded"] {
                     .photo-box {
                        > .pics_btns {
                           label[class~="btn-pic-choice"] {
                              display: none;
                           }
                           label[class~="btn-pic-upload"]:before {
                              content: "更新照片";
                           }
                           label[class~="btn-pic-update"],
                           label[class~="btn-pic-upload"],
                           label[class~="btn-pic-delete"] {
                              display: block;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}