/* =======================
   pages/_survey
   ======================= */
.main {
	section._survey {
		padding: 15px 20px;
		.inner {
			.step_bar {
				display: none;
				// width: calc(670px / 1.6);
				// height: calc(184px / 1.6);
				margin: 35px auto;

				max-width: 418.75px;
				max-height: 115px;
				width: 100%;
				height: 24.5vw;
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			.form_box {
				form#form {
					.step {
						display: none;
					}
					.item {
						margin-bottom: 30px;
						line-height: normal;
						legend {
							font-size: $fontsize-1;
							margin-bottom: 12px;
						}
						.labels {
							display: grid;
							grid-template-columns: 1fr 1fr;
							grid-gap: 7px;
							&.no-grid {
								display: inline-flex;
								width: 100%;
							}
							label {
								width: 100%;
								position: relative;
								display: inline-block;
								font-size: $fontsize;
								color: #666;
								cursor: pointer;
								user-select: none;
								overflow: hidden;

								select,
								input[type="text"],
								input[type="date"],
								input[type="tel"],
								input[type="email"],
								span {
									background: $color-white;
									color: inherit;
									width: 100%;
									padding: 9px 12px;
									font-size: inherit;
									line-height: normal;
									display: flex;
									align-items: center;
									justify-content: flex-start;
									border: 1px solid #EEE;
									border-radius: 8px;
									transition: .2s ease;
								}
								span {
									height: 100%;
									padding: 7px 12px;
									&:before {
										content: "";
										position: relative;
										display: inline-block;
										min-width: calc(40px / 2.2);
										min-height: calc(40px / 2.2);
										margin-right: 7px;
									}
								}
								input {
									&[type="radio"],
									&[type="checkbox"] {
										display: none;
										&:checked + span {
											border-color: $color-main;
											background: rgba($color-main, .15);
											color: $color-main;
										}
									}
									&[type="radio"] {
										// radio 未勾選
										& + span:before {
											background: url("../img/icon-radio@2x.png") no-repeat center/contain;
										}
										// radio 已勾選
										&:checked + span:before {
											background-image: url("../img/icon-radio-checked@2x.png");
										}
									}

									&[type="checkbox"] {
										// checkbox 未勾選
										& + span::before {
											background: url("../img/icon-check@2x.png") no-repeat center/contain;
										}
										// checkbox 已勾選
										&:checked + span::before {
											background-image: url("../img/icon-check-checked@2x.png");
										}
									}
								}
								input[type="text"]:hover,
								input[type="date"]:hover,
								input[type="tel"]:hover,
								input[type="email"]:hover,
								&:hover {
									border-color: $color-main;
									color: $color-main;
								}

								input[type="date"] {
									appearance: none;
									-webkit-appearance: none;
									background-color: $color-white;
								}
							}
						}
						&._h {
							display: none;
						}
						&.error {
							legend {
								color: $color-main;
							}
							&:after {
								content: attr(data-error);
								color: $color-main;
								display: block;
								margin: 7px 0;
								font-size: $fontsize-c;
								font-weight: 500;
								line-height: normal;
							}
						}
					}
					select,
					input {
						border-radius: 7px;
						padding: 3px;
					}
					.twzipcode {
						display: grid;
						grid-template-columns: 1fr 1fr;
						grid-gap: 7px;
					}
					.step_submit {
						button {
							&[type="submit"] {
								display: none;
							}
							&:before {
								content: "下一步";
							}
						}
					}
				}
				.step_done {
					display: none;
					text-align: center;
					line-height: normal;
					.title {
						font-size: $fontsize-2;
						font-weight: 500;
					}
					.description {
						font-size: $fontsize-1;
						line-height: 32px;
					}
					.condition {
						padding: 21px;
						background: #FAEBEB;
						border-radius: 12px;
						margin: 24px auto;
						&_1 {
							&:after {
								content: "";
								display: block;
								max-width: 80px;
								width: 100%;
								height: 2px;
								background: linear-gradient(90deg, $color-second 0%, $color-main 100%);
								// background: $color-main;
								margin: 21px auto;
							}
						}
						&_2 {}
						&_t,
						&_d {
							line-height: normal;
						}
						&_t {
							color: $color-main;
							font-weight: 500;
							font-size: $fontsize-1;
							margin-bottom: 12px;
						}
						&_d {
							font-weight: 400;
							font-size: $fontsize-b;
						}
					}
					.btn-gopage,
					.btn-login {
						display: block;
						max-width: 200px;
						margin-bottom: 24px;
					}
				}
			}
		}
	}
	@for $i from 1 through 3 {
		&[data-step="#{$i}"] {
			section._survey {
				.inner {
					.step_bar {
						display: block;

						&:before {
							background: url(../img/step_#{$i}@2x.png) center center no-repeat;
							background-size: cover;
						}
					}
					.form_box {
						form#form {
							.step_#{$i} {
								display: block;
							}
						}
					}
				}
			}
		}
	}
	// &[data-step="1"] section._survey form#form .step_submit button[type="button"],
	// &[data-step="2"] section._survey form#form .step_submit button[type="button"],
	// &[data-step="3"] section._survey form#form .step_submit button[type="submit"] {
	// 	display: flex;
	// }
	&[data-step="0"] section._survey .inner form#form .step_submit button {
		display: none;
	}
	&[data-step="3"] section._survey .inner form#form .step_submit button:before {
		content: "送出";
	}
	&[data-step="99"] section._survey .inner {
		form#form {
			display: none;
		}
		.step_bar {
			display: block;
			width: calc(121px / 2);
			height: calc(120px / 2);
			&:before {
				background: url(../img/step_done@2x.png) center center no-repeat;
				background-size: cover;
			}
		}
		.step_done {
			display: block;
		}
	}
	&[data-step="99"].loading {
		 section._survey .inner .step_bar {
			&:before {
				background: url(../img/icon-step@2x.png) center center no-repeat;
				background-size: cover;
			}
			&:after {
				content: "";
				position: absolute;  /* 依你的 main 定位，如果 main 沒有定位，記得加 position: relative; */
				top: 50%;
				left: 50%;
				width: 16px;
				height: 16px;
				margin: -12px 0 0 -10px;
				border: 3px solid transparent;
				border-top-color: #fff; /* 主色，可改 */
				border-radius: 50%;
				animation: spin 1s linear infinite;
				z-index: 9999; /* 確保在最上層 */
			}
		}
		section._survey .inner .step_done {
			display: none;
		}
	}
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}