/* =======================
   pages/common
   ======================= */
.main {
	font-family: "Noto Serif TC", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;

	overflow: hidden;
	top: 0;
	left: 0;
	width: 100vw;
	background: url(../img/bg-pc@2x.webp) left top no-repeat;
	// background-size: cover;
	background-size: 100% 100%;
	section {
		font-weight: normal;
		text-align: center;
		width: 100%;
		height: 100%;
		min-width: 100vw;
		// min-height: 100vh;
		padding: 35px 0;
		@include mq($max-width: $bp-2s) {
			padding: 20px 0;
		}
		.inner {
			max-width: $bp;

			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			@include mq($max-width: $bp-2) {
				max-width: 87%;
			}
			@include mq($max-width: $bp-2l) {
				max-width: 91%;
			}
			@include mq($max-width: $bp-m) {
				max-width: 85%;
			}
			// max-width: $bp-2;
			margin: 0 auto;
			.title {
				font-weight: 300;
				// display: inline-block;

				padding: 9px 0 18px 0;
				border-bottom: 1.5px solid;
				// border-image: linear-gradient(to right, transparent 0%, $color-main 50%, transparent 100%) 1;
				border-image: linear-gradient(to right, #3F1516 0%, $color-main 35%, $color-white 50%,  $color-main 65%, #3F1516 100%) 1;

				display: inline-flex;
				@include mq($max-width: $bp-2s) {
					width: 100%;
				}
				.t1 {
					font-size: $fontsize-1;
					padding-right: 9px;
					letter-spacing: 5px;
					white-space: pre-wrap;
			    	text-align: left;
			    	line-height: normal;
					font-weight: 400;
					color: $color-white;
				}
				.t2 {
					font-weight: bold;
					display: flex;
					align-items: end;
					margin-top: 30px;

					padding-left: 9px;
					font-size: $fontsize-5;
					line-height: $fontsize-9;
					letter-spacing: 14px;
					font-weight: 700;
					white-space: pre-wrap;
					@include mq($max-width: $bp-2s) {
						font-size: $fontsize-4;
						line-height: $fontsize-7;
						letter-spacing: 3px;
					}
					&:before {
						content: "";
						width: 1px;
						height: 45px;
						top: -25px;
						margin-left: -15px;
						display: block;
						background: #BFBFBF;
						position: absolute;
						transform: skew(-30deg);
					}
				}
			}
			.content {
				width: 100%;
				font-size: $fontsize;
				color: #BFBFBF;
				text-align: justify;
				margin-top: 18px;
				letter-spacing: 1.3px;
				line-height: $fontsize-2;
				font-size: $fontsize-a;
				@include mq($max-width: $bp-2s) {
					font-size: $fontsize-2;
					line-height: $fontsize-5;
					letter-spacing: 1px;
				}
			}

			.ytimg {
				display: block;
				width: 100%;
				height: 100%;
				&:after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display: block;
					width: calc(160px / 2);
					height: calc(160px / 2);
					background: url(../img/video_play@2x.png) left top no-repeat;
					background-size: cover;
					transition: .2s;
				}
				&:hover {
					cursor: pointer;
					&:after {
						transform: translate(-25%, -50%);
					}
				}
				> img {
					display: block;
					width: 100%;
					visibility: hidden;
					z-index: -99;
				}

				&._with_iframe {
					background: none !important;
					&:after {
						display: none;
					}
					.ytimg_video {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
		&.fullwidth {
			.inner {
				width: 100% !important;
				max-width: 100% !important;
			}
		}
	}
}
body {
	// background: #000;
	// background: url(../img/bg-block.jpg) center center repeat;
	// background-size: contain;
	// background: url(../img/bg.jpg) center center repeat;

	overflow-x: hidden;
	scroll-behavior: smooth;
	color: $color-white;
	&.disableScroll {
		// position: fixed;
		overflow: hidden;
	}
}