/* =======================
   pages/common
   ======================= */
.main {
	overflow: hidden;
	// background: linear-gradient(0deg, $color-main 78%, $color-white);

	// background: rgb(0,0,0);
	// background: linear-gradient(180deg, lighten($color-main, 18%) 0%, lighten($color-main, 19%) 78%, $color-white 100%);

	top: 0;
	left: 0;
	width: 100vw;
	// height: calc(2819px / 2);
	// background: url(../img/bg_pc@2x.jpg) left center no-repeat;
	// background-size: cover;
   // background-position-y: 37.5vw;
	span {
		&.bigger {
			z-index: 1;
			letter-spacing: 1px !important;
			&:first-child {
				margin-left: 3px;
			}
			&:last-child {
				margin-right: 3px;
			}
			font-size: $fontsize_3;
			color: $color-highlight;
			font-weight: bold;
		}
		&.highlight,
		&.highlight > span {
			z-index: 1;
			// margin: 0 3px;
			letter-spacing: .5px;
			&:first-child {
				margin-left: 3px;
			}
			&:last-child {
				margin-right: 3px;
			}
			&:before {
				content: "";
				background: $color-highlight2;
				width: 100%;
				height: 10px;
				display: block;
				position: absolute;
				left: 0;
				bottom: -1px;
				z-index: -1;
				// transform: skew(-10deg);
			}
			// &.highlight_2 {
			// 	&:before {
			// 		background: $color-highlight2;
			// 	}
			// }
		}
		&.remark {
			display: block;
			font-size: $fontsize_f;
			padding: 7px 0;
			letter-spacing: 1px;
			+ .remark {
				margin-top: -13px;
			}
			&.__mb {
				display: none;
			}
			@include mq($max-width: $bp-2s) {
				margin-top: 3px;
				font-size: calc($fontsize_a + 1px);
				letter-spacing: 0;
				&.__pc {
					display: none;
				}
				&.__mb {
					display: block;
				}
			}
		}
	}
	section {
		font-weight: normal;
		text-align: center;
		width: 100%;
		height: 100%;
		min-width: 100vw;
		// min-height: 100vh;
		padding: 35px 0;
		@include mq($max-width: $bp-2s) {
			padding: 30px 0;
		}
		p, span {
			line-height: normal;
			font-weight: normal;
			font-size: inherit;
			padding: 0;
			margin: 0;
			color: $color-white;
		}
		p > span {
			display: inline;
		}
		.inner {
			max-width: $bp-2l;

			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			@include mq($max-width: $bp-2l) {
				width: 95%;
			}
			@include mq($max-width: $bp-2m) {
				width: 91%;
			}
			// max-width: $bp-2;
			margin: 0 auto;
			> .title {
				display: block;
				font-size: $fontsize-2;
				font-weight: 500;
				display: inline-block;
				letter-spacing: 7px;
				color: $color-white;

				padding: 11px 35px 11px 42px;
				border: 1px solid;
				border-image: linear-gradient(to right, #FFA6C9 0%, #F3AC63 100%) 1;
			}
			> .content {
				width: 100%;
				font-size: $fontsize;

				.m-box {
					width: 100%;
					// min-height: 150px;
					// background: $color-white;

					display: flex;
					align-items: center;
					justify-content: center;

					// border-width: 4px;
					// border-style: solid;
					// border-image: linear-gradient(to bottom, nth($color-border, 1), nth($color-border, 2)) 1;

					// border-radius: 25px;
					line-height: normal;
					// margin: 50px 0 25px;
					// padding: 45px 0 25px;
					padding: 30px 0 0;
					@include mq($max-width: $bp-2s) {
						padding: 30px 0;
						// padding: 50px 30px 10px;
					}
					// &_title {
					// 	display: inline-block;

					// 	position: absolute;
					// 	top: -19%;

					// 	&:before {
					// 		content: "";
					// 		display: block;
					// 		z-index: 1;
					// 		position: absolute;
					// 		width: 100.5%;
					// 		height: 100%;
					// 		background: $color-shadow;
					// 		right: -1.5px;
					// 		bottom: -2px;
					// 		border-radius: 52px;
					// 	}
					// 	span {
					// 		z-index: 1;
					// 		background: $color-main;
					// 		color: $color-font;

					// 		font-size: calc($fontsize_3 - 1px);
					// 		font-weight: bolder;

					// 		display: inline-block;
					// 		padding: 2px 29px;
					// 		padding-right: 25px;
					// 		border-radius: 52px;
					// 		letter-spacing: 3px;
					// 		// border: 1px solid $color-white;
					// 		margin-left: 1px;
					// 	}
					// }
					&_content {
						p {
							display: block;
							font-size: $fontsize_1;
							line-height: $fontsize_6;
							letter-spacing: 3px;

							font-weight: inherit;
							// letter-spacing: .5px;
							@include mq($max-width: $bp-2s) {
								font-size: $fontsize_2;
								line-height: $fontsize_7;
								letter-spacing: 2px;
							}
						}
					}
				}
			}
		}
		&.fullwidth {
			.inner {
				width: 100% !important;
				max-width: 100% !important;
			}
		}
	}
	div.sections {
		position: relative;
		top: 0;
		left: 0;
		width: 100vw;
		background: url(../img/bg_pc@2x.jpg) left center no-repeat;
		background-size: cover;
	}

	.decorate {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.d-circle {
			position: absolute;
			display: block;

			width: calc(1584px / 2);
			height: calc(1584px / 2);
			&:before {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				background: url(../img/bg_circle@2x.png) left center no-repeat;
				background-size: cover;
			}
			&_1 {
				top: 30vw;
				left: -5vw;
				width: calc(1584px / 7);
				height: calc(1584px / 7);
				@include mq($max-width: $bp-2s) {
					top: 50vw;
					left: -9vw;
					width: calc(1584px / 11);
					height: calc(1584px / 11);
				}
			}
			&_2 {
				top: 58vw;
				right: -14vw;
				width: calc(1584px / 5);
				height: calc(1584px / 5);
				@include mq($max-width: $bp-2s) {
					top: 285vw;
					right: -25vw;
					width: calc(1584px / 7);
					height: calc(1584px / 7);
				}
			}
			&_3 {
				bottom: 15%;
				left: -10vw;
				width: calc(1584px / 3);
				height: calc(1584px / 3);
				@include mq($max-width: $bp-2s) {
					bottom: 30%;
					left: -63vw;
					// width: calc(1584px / 7);
					// height: calc(1584px / 7);
				}
			}
		}
		.d-shape {
			position: absolute;
			display: block;
			&_1 {
				top: 31vw;
				right: 0;
				width: calc(1600px / 3);
				height: calc(700px / 3);
				@include mq($max-width: $bp-2s) {
					top: 50vw;
					width: calc(1600px / 5);
					height: calc(700px / 5);
				}
				&:before {
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					background: url(../img/bg_shape_up@2x.png) left center no-repeat;
					background-size: cover;
				}
			}
			&_2 {
				bottom: 22%;
				left: 0;
				width: calc(2080px / 2.5);
				height: calc(600px / 2.5);
				@include mq($max-width: $bp-2s) {
					bottom: 36%;
					left: -57vw;
					width: calc(2080px / 4);
					height: calc(600px / 4);
				}
				&:before {
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					background: url(../img/bg_shape_down@2x.png) left center no-repeat;
					background-size: cover;
				}
			}
		}
	}
}
body {
	// background: #f5f5f5;
	// background: url(../img/bg-block.jpg) center center repeat;
	// background-size: contain;
	// background: url(../img/bg.jpg) center center repeat;


	overflow-x: hidden;
	scroll-behavior: smooth;
	&.disableScroll {
		// position: fixed;
		overflow: hidden;
	}

	/* BEGIN DEFAULT TEST */
	// background: #777;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// justify-content: center;
	// font-size: 20px;
	// color: brown;
	// font-weiht: bold;
	/* END DEFAULT TEST */
}