/* =======================
   pages/dt
   ======================= */
.main {
	section.s-dt {
		.inner {
			> .title {
			}
			> .content {
				.m-box_title {
					@include mq($max-width: $bp-2s) {
						top: -15%;
					}
				}
				.m-box_content {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					@include mq($max-width: $bp-2s) {
						// flex-direction: column;
					}
					p {
						font-size: calc($fontsize_1 - 1px);
						display: inline-flex;
						align-items: center;
						justify-content: center;
						letter-spacing: 2px;
						font-weight: inherit;
						@include mq($max-width: $bp-2s) {
							font-size: $fontsize_2;
							letter-spacing: 2.5px;
						}
						&:nth-child(1) {
							&:after {
								content: "";
								position: relative;
								display: inline-block;
								left: 0;
								margin: 0 20px 0 15px;
								width: calc(50px / 2);
								height: calc(32px / 2);
								background: url(../img/cta_arrow_w@2x.png) left center no-repeat;
								background-size: cover;
								@include mq($max-width: $bp-2s) {
									width: calc(50px / 2);
									height: calc(32px / 2);
								}
							}
						}
					}
				}
			}
		}
	}
}