/* =======================
   pages/matter
   ======================= */
.main {
	section.s-matter {
		background: $color-matter;
		.inner {
			max-width: $bp-2l;
	    	// align-items: flex-start;
	    	align-items: center;
			margin-top: 50px;
			@include mq($max-width: $bp-2s) {
				margin-top: 30px;
				// padding: 0 15px 0 7px;
			}
			// > .title {
			// 	color: $color-white;
			// 	margin-left: -20px;
			// 	margin-bottom: 10px;

			// 	font-size: calc($fontsize_1 - 1px);
			// 	line-height: normal;
			// 	letter-spacing: 3px;
			// 	font-weight: normal;
			// 	@include mq($max-width: $bp-2s) {
			// 		font-size: $fontsize_1;
			// 		margin-left: -9px;
			// 	}
			// }
			> .title {
				width: calc(623px / 2.87);
				height: calc(112px / 2.87);
	    		margin-bottom: 35px;
				@include mq($max-width: $bp-2s) {
					width: calc(623px / 2.35);
					height: calc(112px / 2.35);
				}
				&:before {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
					background: url(../img/title-05@2x.png) left center no-repeat;
					background-size: cover;
				}
			}
			> .content {
				color: $color-white;
				font-size: $fontsize_e;
				line-height: $fontsize_2;
				max-width: 78%;
				@include mq($max-width: $bp-2s) {
					max-width: 87%;
					margin: 15px;
					margin-top: 7px;
					margin-right: 0;
				}
				ol {
					list-style: decimal;
					li {
						text-align: justify;
						letter-spacing: 2px;
						// &:nth-child(3) {
						// 	font-weight: bolder;
						// 	margin: 3px 0;
						// 	line-height: $fontsize_2;
						// }
					}
				}
			}
		}
	}
}