/* =======================
   pages/extra
   ======================= */
.savetips{
   margin-top: 20px;
   font-size: 20px;
}
.tscrs{
   margin-top: 20px;
   font-size: $fontsize-d;
   letter-spacing: -.2px;
   line-height: normal;
}
.q-title{
   align-self: end;
}