/* =======================
   pages/kv
   ======================= */
.main {
	color: $color-font;
	padding: 60px 0;
	margin: 0 auto;
	div.divider {
		margin: 60px auto;
		display: block;
		width: calc(636px / 2);
		height: calc(48px / 2);
		&:before,
		&:after {
			content: "";
			position: absolute;
		}
		&:before {
			left: 0;
			width: 100%;
			height: 100%;
			background: url(../img/divider@2x.png) left center no-repeat;
			background-size: cover;
		}
	}
	section {
		> .inner {
			.box {
				padding: 30px 0;
				width: 100%;
				min-height: 200px;
				border-radius: 30px;
				border: 1px solid $color-border;
				background: $color-box;
				text-align: center;
				overflow: hidden;
				.title {
					background: $color-main;
					color: $color-white;
					padding: 9px 19px;
					margin: 0 auto 20px;
					border-radius: 20px;
					overflow: hidden;
					display: inline-block;
					font-size: $fontsize-2;
					font-weight: 600;
					letter-spacing: .78px;
					@include mq($min-width: $bp - 1px) {
						font-size: $fontsize-5;
						letter-spacing: 3px;
					}
				}
				.content {
					border-radius: 30px;
					overflow: hidden;
					padding: 0 35px;
					.caption {
						color: $color-main;
						font-size: $fontsize-2;
						letter-spacing: 1.35px;
						@include mq($min-width: $bp - 1px) {
							font-size: $fontsize-5;
						}
						p {
							font-size: inherit;
							line-height: 1.7em;
							color: $color-font;
							display: block;
							// @include mq($min-width: $bp - 1px) {
							// 	line-height: 2em;
							// }
							&:nth-child(2) {
								display: inline-block;
							}
						}
					}
				}
				.addition {
					font-size: $fontsize-b;
					line-height: $fontsize-1;
					color: #666;
					// @include mq($min-width: $bp - 1px) {
					// 	font-size: $fontsize-a;
					// }
				}
			}
			[class^="btn-s"] {
				cursor: pointer;
				display: block;
				margin: 20px auto 0;
				transition: .2s;
				width: calc(582px / 2);
				height: calc(206px / 2);
				&:before {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
				}
				&:hover {
					transform: translateX(10px);
				}
			}
		}
	}
	.slick-prev,
	.slick-next {
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 50%;
		display: block;
		width: 20px;
		height: 20px;
		padding: 0;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		cursor: pointer;
		color: transparent;
		border: none;
		outline: none;
		background: transparent;
		z-index: 1;
		margin: 20px auto;

		width: calc(120px / 2.3);
		height: calc(120px / 2.3);
		transition: .1s;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(../img/s3_carousel_arrow@2x.png) center center no-repeat;
			background-size: cover;
		}
		&:hover {
			width: calc(120px / 2.4);
			height: calc(120px / 2.4);
			opacity: .78;
		}
	}
	.slick-prev {
		left: 25px;
	}
	.slick-next {
		right: 25px;
		&:before {
			transform: rotateY(180deg);
		}
	}
}

body.Mobile {
	.main {
		section {
			> .inner {
				.box {
					.content {
						.caption {
							// font-size: calc($fontsize-3 + 1px);
							// font-size: $fontsize-5;
							p {
								line-height: 2em;
							}
						}
						.addition {
							font-size: $fontsize-a;
						}
					}
				}
			}
			&.s-2 {
				.box {
					.content {
						.test {
							// ul {
							// 	padding: 0;
							// 	li {
							// 		font-size: calc($fontsize-3 + 1px);
							// 		padding: 23px 0;
							// 		grid-template-columns: auto 100px 100px 100px;
							// 	}
							// }
						}
						.addition {
							font-size: $fontsize-a;
						}
					}
				}
			}
			&.s-3 {
				.box {
					.caption {
						label {
							font-size: $fontsize-5;
							margin: 50px 0;
							display: block;
						}
					}
					.cover {
						&-addition {
							padding: 0 35px;
							line-height: normal;
							font-size: $fontsize-a;
						}
					}
				}
			}
		}
	}
}