/* ======================
   modules/btns
   ======================= */

.btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: inherit;
}

.btn.primary,
button.primary {
    background: $color-ink;
    color: $color-fff;
    border-color: $color-ink;

    &:disabled {
        opacity: .6;
        cursor: not-allowed;
    }
}