/* 調整 header log 顯示位置與大小 */
.header .logo img {
  width: auto;
  height: 4rem;
  display: block;
  margin: 0;
}

.header .menu {
  z-index: -1;
}

/* 讓 b-title 元素可以正確定位 */
.b-title {
  position: relative;
}

@media screen and (max-width: 1200px) {
  .header .logo img {
    width: 10rem;
  }
}

@media screen and (max-width: 1050px) {
  .header .logo {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 940px) {
  .header .logo {
    margin-right: 0;
  }
}

@media screen and (max-width: 900px) {
  .header .logo img {
    width: 8.5rem;
  }
}

@media screen and (max-width: 768px) {
  .header .logo {
    position: relative;
    top: initial;
  }

  .header .logo img {
    width: auto;
    height: 3rem;
    margin: -0.8rem;
  }
}
