/* =======================
layout/_popup
======================= */
.popup_content {
	min-height: 20px;
	padding: 15px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
 	.popup_close {
		position: absolute;
		top: 0;
		right: 0px;
		border-radius: 2px;
		background: none;
		border: 0;
		font-size: 25px;
		padding: 0 10px;
	}
	.popup_inner {
		position: relative;
		max-height: 66vh;
		max-width: 66vw;
		overflow: scroll;
		padding: 5px;
		@include mq($max-width: $bp-mobile) {
		    height: 100%;
			max-height: 87vh;
			max-width: 78vw;
		}
	}
	h2 {
		font-size: $fontsize-3;
		font-weight: bold;
		margin-bottom: 10px;
		&:after {
			content: "";
			width: 100%;
			padding-bottom: 10px;
			border-bottom: 1px solid #ccc;
			display: block;
		}
	}

	&#view-album {
		.form_filters-b {
		}
		ul.va-pic-list {
			// border-top: 2px solid #7a97a2;
			// padding-top: 15px;
			// margin-top: 15px;
			margin-bottom: 15px;
			height: 100%;
			width: 100%;
			// max-height: 66vh;
			// max-width: 66vw;
			overflow: scroll;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 20px;
			// row-gap: 12px;
			li.va-pic-item {
				width: 100%;
				display: block;
				> input {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					margin: 10px;
					&:checked {
						& + label {
							padding: 1px;
							border-color: $color-main;
						}
					}
				}
				> label {
					display: inline-block;
					border: 1px solid transparent;
				}
			}
		}
	}
}