/* =======================
   pages/album
   ======================= */
.main {
	section.pagename {
		.inner {
			a.postcard-builder {
				margin-top: 30px;
			}
		}
	}
	section.albums {
		.inner {
			.albums_box {

				.albums-list.filter-result-list  {
					padding: 0 30px;
					.albums-item.filter-result-item {
						flex-direction: column;
						cursor: pointer;
						.f-r-i-name {

						}
						.f-r-i-album {
							width: 100%;
							margin-top: 10px;
							background: $color-white;
							padding: 10px 15px;
							border-radius: 9px;
							.album-featured {
								height: 250px;
								overflow: hidden;
								> img {
									transform: scale(1);
									transition: .2s;
								}
							}
							.album-source {
								width: 100%;
								margin-top: 10px;
								font-size: $fontsize-c;
								text-align: right;
							}
						}
						&:hover {
							.f-r-i-album {
								.album-featured {
									> img {
										transform: scale(1.1);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}