/* =======================
   pages/data
   ======================= */
.main {
	section.annual_dataresult {
		.inner {
			display: flex;
			align-items: center;
			justify-content: center;
			// flex-wrap: wrap;
			img {
				// margin: 0 10px;
			}
		}
	}
	section.annual_resultlogin {
		.inner {
			.notices {
				display: flex;
				align-items: center;
				justify-content: space-between;
				@include mq($max-width: $bp-mobile) {
					flex-direction: column;
				}
				.lists{
					width: 100%;
					ol {
						padding: revert;
						list-style-type: decimal;
						li {
							font-size: $fontsize-1;
							line-height: normal;
							width: 100%;
						}
					}
				}
				.qrcode {
					flex-shrink: 0;
					@include mq($max-width: $bp-mobile) {
						width: 150px;
						height: 150px;
					}
				}
			}
			.btns {
				margin-top: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				a {
					margin: 0 50px;
				}
			}
		}
	}
}