/* =======================
   pages/data
   ======================= */
.main {
	section.annual_dataresult {
		.inner {
			display: flex;
			align-items: center;
			justify-content: center;
			// flex-wrap: wrap;
			img {
				margin: 0 10px;
			}
		}
	}
	section.annual_resultlogin {
		.inner {
			.notices {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.lists{
					min-width: 50%;
					ol {
						padding: revert;
						list-style-type: decimal;
						li {
							font-size: $fontsize-1;
							line-height: normal;
							width: 100%;
						}
					}
				}
				.qrcode {

				}
			}
			.btns {
				margin-top: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				a {
					margin: 0 50px;
				}
			}
		}
	}
}