/* =======================
   pages/member
   ======================= */
.main {
	section.my-info {
		.inner {
			.m-view {
				display: flex;
				align-items: flex-end;
				.m-avatar {
					width: 100px;
					max-height: 100px;
					border-radius: 50%;
					overflow: hidden;
					flex-shrink: 0;
					img {

					}
				}
				.m-name {
					width: 100%;
					margin: 0 15px;
					input {
						color: $color-font;
						width: 100%;
						font-size: $fontsize-4;
						background: transparent;
						padding: 5px;
						border: 0;
						border-bottom: 3px solid $color-afterline;
					}
				}
				.btn-m-edit {
					flex-shrink: 0;
				}
			}
			.campaign-view {
				.datas-total-ul {
					li {
						z-index: 1;
						margin: 0 auto;
						transform: translateY(50%);
					}
				}
				.campaigns {
					.campaign {

					}
				}
			}
		}
	}
	section.annual_datas {
		.inner {

		}
	}
	section.my-record {
		.btn-myrecord-edit {
			position: absolute;
			right: 10px;
			z-index: 2;
		}
		.inner {
			.mycampaign {
				padding: 15px 50px;
				.campaigns {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
					row-gap: 12px;
					.campagin {
						font-size: $fontsize-2;
						letter-spacing: 1px;
						color: $color-font;
						.btn-del-campaign {
							padding: 1px 5px;
							margin: 0 5px;
							box-shadow: none;
						}
					}
				}
				.btn-add-campaign {
					padding: 1px 5px;
					margin: 20px auto;
					box-shadow: none;
					background: green;
					display: block;
				}
			}
			.btn-creat-myrecord {
				display: block;
				margin: 20px auto;
				font-size: $fontsize-2;
			}
		}
	}
}