/* =======================
   pages/member
   ======================= */
.main {
	section.my-info {
		.inner {
			.m-view {
				display: flex;
				align-items: flex-end;
				.m-avatar-box {
					max-height: 100px;
					border-radius: 50%;
					overflow: hidden;
					flex-shrink: 0;
					img {
						width: 100px;
						height: 100px;
					}
				}
				.m-name-box {
					width: 100%;
					margin: 0 15px;
					input {
						color: $color-font;
						width: 100%;
						font-size: $fontsize-4;
						background: transparent;
						padding: 5px;
						border: 0;
						border-bottom: 3px solid $color-afterline;
					}
				}
				.btn-m-edit {
					flex-shrink: 0;
				}
			}
			.campaign-view {
				.datas-total-ul {
					li {
						z-index: 1;
						margin: 0 auto;
						transform: translateY(50%);
					}
				}
				.campaigns {
					.campaign {

					}
				}
			}
		}
	}
	section.annual_datas {
		.inner {

		}
	}
	section.my-record {
		.btn-myrecord-edit {
			position: absolute;
			right: 10px;
			z-index: 2;
		}
		.inner {
			.mycampaign {
				padding: 15px 50px;
				.campaigns {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
					row-gap: 12px;
					.campaign {
						font-size: $fontsize-2;
						letter-spacing: 1px;
						color: $color-font;
						.btn-del-campaign {
							padding: 1px 5px;
							margin: 0 5px;
							box-shadow: none;
							width: calc(40px / 3);
							height: calc(40px / 3);
                     background: url(../img/icon-delete@2x.png) left center no-repeat;
                     background-size: cover;
						}
					}
				}
				.btn-add-campaign {
					padding: 1px 5px;
					margin: 20px auto;
					box-shadow: none;
					display: block;
					width: calc(40px / 3);
					height: calc(40px / 3);
               background: url(../img/icon-add@2x.png) left center no-repeat;
               background-size: cover;
				}
				#form_add-campaign {
					display: block;
					width: 640px;
					.btn-add-campaign-update {
						margin-top: 10px;
					}
				}
			}
			.btn-creat-myrecord {
				display: block;
				margin: 20px auto;
				font-size: $fontsize-2;
			}
		}
	}
}
.popup_content {
	.form_edit-member {
		#preview_avatar {
			margin-top: 10px;
			height: 70px;
			width: 70px;
			border-radius: 50%;
			&[src=""] {
				display: none;
			}
		}
		button {
			display: block;
			margin: 0 auto;
		}
		ul {
			li {
				margin-bottom: 20px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				label {
					margin-right: 10px;
					font-size: $fontsize;
					font-weight: 500;
				}
				input {
					font-size: $fontsize;
				}

			}
		}
	}
}