/* =======================
   pages/postcarder
   ======================= */
.main {
   section.postcarder {
      background: $color-white;
      margin-bottom: 50px;
      padding: 100px 100px 30px;
      @include mq($max-width: $bp-mobile) {
         padding: 20px;
      }
      [class*="step-"] {
         display: none;
      }
      .step-1 {
         .postcard-form {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            color: $color-font;
            @include mq($max-width: $bp-mobile) {
               flex-direction: column;
            }
            .postcard-img {
               width: 40%;
               display: flex;
               flex-direction: column;
               margin-right: 30px;
               @include mq($max-width: $bp-mobile) {
                  width: 100%;
                  margin-right: 0;
                  border-bottom: 1px solid #ddd;
                  padding: 10px 0;
                  margin-bottom: 10px;
               }
               .postcard-img-box {
                  background: #efefef;
                  display: flex;
                  flex-direction: column;
                  padding: 30px;
                  border-radius: 5px;
                  button {
                     margin: 10px 0;
                  }
               }
               .postcard-img-tip {
                  margin-top: 15px;
                  font-size: $fontsize-a;
               }
               .postcard-img-preview-box {
                  max-height: 190px;
                  overflow: hidden;
                  width: 100%;
                  .postcard-img-preview {
                     margin-top: 10px;
                     &[src=""] {
                        margin-top: 0;
                     }
                  }
               }
               .postcard-img-bg {
                  display: none !important;
                  visibility: hidden;
               }
            }
            .postcard-text {
               width: 60%;
               display: flex;
               align-content: center;
               justify-content: center;
               flex-direction: column;
               @include mq($max-width: $bp-mobile) {
                  width: 100%;
               }
               li {
                  font-size: $fontsize-1;
                  margin-bottom: 20px;
                  @include mq($max-width: $bp-mobile) {
                     font-size: $fontsize-2;
                     line-height: normal;
                  }
                  label,
                  input,
                  textarea {
                     display: block;
                     width: 100%;
                     font-size: inherit;
                     font-family: inherit;
                  }
                  label {
                     margin-bottom: 10px;
                     @include mq($max-width: $bp-mobile) {
                        margin-bottom: 5px;
                     }
                     span {
                        color: $color-main;
                        margin: 0 5px;
                        letter-spacing: -1px;
                        font-weight: bold;
                     }
                  }
                  input {
                     height: $fontsize-1 * 2;
                     padding: 0 5px;
                  }
                  textarea {
                     padding: 5px;
                     height: $fontsize-1 * 8;
                  }
               }
            }
         }
         .btn-file-preview {
            display: block;
            margin: 30px auto 0;
         }
      }
      .step-2 {
         [class*="preview-"] {
            width: calc(1129px / 1.5);
            margin: 0 auto;
            max-width: 100%;
            @include mq($max-width: $bp-mobile) {
            }
         }
         .preview-img {
            img {

            }
         }
         .preview-btns {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 50px;
            @include mq($max-width: $bp-mobile) {
               margin-top: 25px;
               flex-direction: column;
            }
            button {
               &:last-child {
                  margin-left: 20px;
                  @include mq($max-width: $bp-mobile) {
                     margin-left: 0;
                     margin-top: 20px;
                  }
               }
               &.btn-file-edit {
                  opacity: .7;
               }
            }
         }
      }
      .step-3 {
         [class*="public-"] {
            width: calc(1129px / 1.5);
            margin: 0 auto;
            width: 100%;
         }
         .public-img {
            img {

            }
         }
         .public-shares {
            margin-top: 10px;
            .shares-text {
               margin: 10px 0;
               font-size: $fontsize-2;
            }
            .btn-shares {
               display: flex;
               align-items: center;
               justify-content: flex-start;
               .btn-icon {
                  width: calc(65px / 2);
                  height: calc(65px / 2);
                  display: block;
                  &:last-child {
                     margin-left: 10px;
                  }
                  &:before,
                  &:after {
                     content: "";
                     position: absolute;
                  }
                  &.btn-share-facebook {
                     &:before {
                        width: 100%;
                        height: 100%;
                        background: url(../img/icon-facebook.png) left center no-repeat;
                        background-size: cover;
                     }
                  }
                  &.btn-share-line {
                     &:before {
                        width: 100%;
                        height: 100%;
                        background: url(../img/icon-line.png) left center no-repeat;
                        background-size: cover;
                     }
                  }
               }
            }
         }
      }
      &[data-step="1"] {
         // .step-2,
         .step-1 {
            display: block;
         }
      }
      &[data-step="2"] {
         .step-2 {
            display: block;
         }
      }
      &[data-step="3"] {
         .step-3 {
            display: block;
         }
      }
   }
}
.popup_content {
   &#view-album {
      [class*="step-"] {
         display: none;
      }
      &[data-va="1"] {
         .va-step-1 {
            display: block;
         }
      }
      &[data-va="2"] {
         .va-step-2 {
            display: block;
         }
      }
   }
}