/* =======================
   pages/prizes
   ======================= */
.main {
	section.s-prizes {
		// background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
		// background: $color-white;
		> .dec {
			position: absolute;
			z-index: 0;
			display: block;
			bottom: 0;
			@include mq($max-width: $bp-2s) {
				bottom: -50vw;
			}
			@include mq($max-width: $bp-s) {
				bottom: -20vw;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				// left: 0;
				// bottom: 0;
				// width: 100vw;
				// height: 47vw;
				background: url(../img/bg_green_pc.png) left center no-repeat;
				background-size: cover;

				left: -2vw;
				bottom: 1vw;
				width: 100vw;
				height: 58vw;
		    	transform: scale(1.05);
				@include mq($max-width: $bp-2s) {
					width: 115vw;
					height: 421vw;
					background: url(../img/bg_green_m@2x.png) left center no-repeat;
					background-size: cover;

					left: 0;
					bottom: 0;
		    		transform: scale(1);
				}
			}
		}
		.inner {
			z-index: 1;
			// max-width: $bp-2l;
			> .title {
				width: calc(912px / 2.87);
				height: calc(112px / 2.87);
				@include mq($max-width: $bp-2s) {
					// width: calc(912px / 2.5);
					// height: calc(112px / 2.5);
				}
				&:before {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
					background: url(../img/title-04@2x.png) left center no-repeat;
					background-size: cover;
				}
			}
			> .content {
				.m-box_title {
					top: -4%;
					@include mq($max-width: $bp-2s) {
						top: -1.5%;
					}
				}
				.m-box_content {
					width: 100%;
					.p-box {
						padding-bottom: 15px;
						@include mq($max-width: $bp-2s) {
							padding-bottom: 0;
						}
						&_item {
							display: inline-flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							padding: 0 40px;
							@include mq($max-width: $bp-2s) {
								padding: 78px 0 0;
							}
							&.__1 {
								@include mq($max-width: $bp-2s) {
									padding-top: 0;
								}
								> .p-box_img {
									width: calc(471px / 2.7);
									height: calc(653px / 2.7);
								}
							}
							&.__2 {
								> .p-box_img {
									width: calc(437px / 2.7);
									height: calc(659px / 2.7);
								}
							}
							&.__3 {
								> .p-box_img {
									width: calc(553px / 2.7);
									height: calc(659px / 2.7);
								}
							}
						}
						&_img,
						&_title {
							position: relative;
							display: block;
							img {
								display: block;
								width: 100%;
								height: 100%;
							}
						}
						&_img {
							img {
								display: block;
								width: 100%;
								height: 100%;
							}
						}
						&_title {
							margin: 20px 0;
							width: calc(382px / 2.7);
							height: calc(95px / 2.7);
							@include mq($max-width: $bp-2s) {
								width: calc(382px / 2.2);
								height: calc(95px / 2.2);
							}
						}
						&_name {
							> span {
								font-size: $fontsize_1;
								line-height: $fontsize_3;
								font-style: italic;
								letter-spacing: 2.5px;
								@include mq($max-width: $bp-2s) {
									font-size: $fontsize_2;
									line-height: $fontsize_4;
									letter-spacing: 3px;
								}
							}
						}

						&_group {
							@include mq($max-width: $bp-2s) {
								margin: 0;
								display: inline;
							}
							&.__bottom {
								margin-top: 60px;
								@include mq($max-width: $bp-2s) {
									margin-top: 20px;
									display: grid;
									grid-template-columns: repeat(1, 1fr);
								}
							}
						}

						&_title {
							color: $color_font;
							line-height: normal;
						}
					}
				}
				.btn-cta {
			    	cursor: pointer;

					width: 100%;
					max-width: 360px;

					display: inline-flex;
					align-items: center;
					justify-content: center;

					font-size: $fontsize_3;
					font-weight: bolder;

					margin: 40px auto 10px;

					@include mq($max-width: $bp-2s) {
						width: 97%;
						left: -1.5%;
					}
					&:before {
						content: "";
						display: block;
						z-index: 0;
						position: absolute;
						width: 100.5%;
						height: 100%;
						background: nth($color-cta, 2);
						right: -9px;
						bottom: -7px;
						border-radius: 40px; // 52px
					}
					a {
						display: inline-flex;
						align-items: center;
						justify-content: center;
						font-weight: inherit;

						width: 100%;

						height: 100%;
						color: inherit;
						margin-right: -5px;
						font-size: inherit;

						// display: inline-block;
						// padding: 14px 80px;
						// padding-right: 25px;
						padding: 15px;
						border-radius: 40px; // 52px

						background: nth($color-cta, 1);
						color: $color-white;

						span {
							letter-spacing: 6px;
							font-weight: inherit;
							&.__mb {
								display: none;
							}
						}
						@include mq($max-width: $bp-2s) {
							margin-right: -10px;
							font-size: $fontsize_4;
							span {
								letter-spacing: 5px;
								&.__pc {
									display: none;
								}
								&.__mb {
									display: block;
								}
							}
						}
						&:after {
							content: "";
							display: inline-block;
							position: relative;
							top: 2px;
							left: 7px;
							width: calc(84px / 2.5);
							height: calc(84px / 2.5);
							background: url(../img/cta_arrow@2x.png) left center no-repeat;
							background-size: cover;
							transition: .1s;
							@include mq($max-width: $bp-2s) {
								top: 4px;
								width: calc(84px / 1.5);
								height: calc(84px / 1.5);
							}
						}
					}
					&:hover {
						a {
							&:after {
								left: 14px;
							}
						}
					}
				}
			}
		}
	}
}