/* =======================
   pages/kv
   ======================= */
.main {
	section.kv {
		padding: 0;
		position: relative;
		// width: calc(3840px / 2);
		// height: calc(1200px / 2);
		width: 100%;
		height: 37.5vw;
		// margin-top: -37.5vw;
		@include mq($max-width: $bp-2m) {
			// height: 160vw;
			height: 55.5vw;
		}
		&:before,
		&:after {
			content: "";
			position: absolute;
		}
		&:before {
			left: 0;
			width: 100%;
			height: 100%;
			// background: url(../img/kv_pc@2x.jpg) left top no-repeat;
			background: url(../img/kv_pc_no_t@2x.webp) left top no-repeat;
			background-size: cover;
			// @include mq($max-width: $bp-2l) {
			// 	background: url(../img/kv_m.jpg) left center no-repeat;
			// 	background-size: cover;
			// }
			@include mq($max-width: $bp-2m) {
				// background: url(../img/kv_m@2x.jpg) left top no-repeat;
				background: url(../img/kv_m_no_t@2x.webp) left top no-repeat;
				background-size: cover;
			}
		}
		.kv-cta {
			position: absolute;
			top: 26vw;
			left: 16.3vw;
			width: 36vw;
			@include mq($max-width: $bp-2m) {
				top: 39.5vw;
				left: 43.5%;
				width: 53%;
				margin-left: -40%;
			}
			img {
				display: block;
				width: 100%;
				transition: .1s;
			}
			&:hover {
				img {
					margin-left: -7px;
					@include mq($max-width: $bp-2m) {
						margin-left: -40%;
						margin-top: 7px;
					}
				}
			}
		}
		.kv-title {
			position: absolute;
			top: 11.4vw;
			left: 16.3vw;
			width: 38.3vw;
			@include mq($max-width: $bp-2m) {
				top: 17.3vw;
				left: 43.3%;
				width: 58%;
				margin-left: -40%;
			}
			&_glitch {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				transition: .1s;
				img {
					display: block;
					width: 100%;
				}
				&:nth-child(2),
				&:nth-child(3) {
					display: none;
				}
			}
			&[data-glitch="1"] {
				.kv-title_glitch {
					&:nth-child(1) {
						animation: glitch1 3.5s infinite;
					}
					&:nth-child(2) {
						display: block;
						filter: sepia(100%) hue-rotate(190deg) saturate(500%);
						animation: glitch2 3.5s infinite;
					}
					&:nth-child(3) {
						display: block;
						filter: sepia(80%) brightness(1) invert(0);
						animation: glitch3 3.5s infinite;
					}
				}
			}
		}
	}
}